//- block vars
footer(id="footer" class=footerClasses)
	.container
		
		.row
			.subscribe_box
				.col-lg-5
					.subscribe_text
						.icon_box: img(src="images/icons/envelope-open-icon.svg", alt="")
						div
							h5.fw600 Подписка на новости
							p Узнайте первыми о снижении цен и появлении новых слебов
				.col-lg-7
					form.subscribe_form
						input(type="text" placeholder="Адрес эл. почты" name="val_email")
						//- button.btn-radius.btn-l.btn-orange(type="submit") Подписаться
						a.js-modal.btn-radius.btn-l.btn-orange(href="#subscribe_modal") Подписаться

		.row.align-items-center
			.col-xl-3.col-lg-2.col-md-3
				.copyright © Мрамор.рф, 2019
			
			.col-xl-5.col-lg-6.col-md-9
				ul.page_nav
					li: a(href="javascript:;") Поставщикам 
					li: a(href="javascript:;") Преимущества
					li: a(href="javascript:;") Оплата и доставка
					li: a(href="javascript:;") Контакты
			.col-lg-4.col-md-12
				.footer_lnk
					a.tel_link(href="tel:74957867357")
						.icon_box: img(src="images/icons/tel-mini-icon.svg", alt="")
						|+7 495 786-73-57
					a.mail_link(href="mailto:example@mail.ru")
						.icon_box: img(src="images/icons/envelope-mini-icon.svg", alt="")
						|Написать письмо