//- block vars
footer(id="footer" class=footerClasses)
	.container

		.row.align-items-center
			.col-xl-3.col-lg-2.col-md-3
				.copyright © Мрамор.рф, 2019
			
			.col-xl-5.col-lg-6.col-md-9
				ul.page_nav
					li: a(href="javascript:;") Поставщикам 
					li: a(href="javascript:;") Преимущества
					li: a(href="javascript:;") Оплата и доставка
					li: a(href="javascript:;") Контакты
			.col-lg-4.col-md-12
				.footer_lnk
					a.tel_link(href="tel:74957867357")
						.icon_box: img(src="images/icons/tel-mini-icon.svg", alt="")
						|+7 495 786-73-57
					a.mail_link(href="mailto:example@mail.ru")
						.icon_box: img(src="images/icons/envelope-mini-icon.svg", alt="")
						|Написать письмо