//- block vars
header#header(class=headerClasses)

	// - - - - - - - - - - - - - Header Top - - - - - - - - - - - - - - - - 
	
	.header_top
		.container
			.row
				.col-xl-3.col-lg-2.col-md-6
					.head_descr Онлайн-склад слебов в Москве
				.col-xl-5.col-lg-6.col-md-6.hide_991
					div.header_top_center
						ul.page_nav
							li: a(href="javascript:;") Поставщикам 
							li: a(href="javascript:;") Преимущества
							li: a(href="javascript:;") Оплата и доставка
							li: a(href="javascript:;") Контакты
				.col-lg-4.col-md-6
					.header_top_right
						ul.social_list
								li
									a.icon_box(href="#"): img(src="images/icons/insta-icon.svg", alt="")
								li
									a.icon_box(href="#"): img(src="images/icons/f-icon.svg", alt="")

						.login_box
							a.login_link(href="javascript:;") Вход / Регистрация

	// - - - - - - - - - - - - - End of Header Top - - - - - - - - - - - - - - - -


	// - - - - - - - - - - - - - Header Center - - - - - - - - - - - - - - - - 
	
	.header_center
		.container
			.row
				.col-lg-3
					.logo
						a(href="index.html") Slabs.<wbr>moscow
				.col-xl-5.col-lg-6
					.header_center_c
						a.tel_link(href="tel:74957867357")
							.icon_box: img(src="images/icons/tel-icon.svg", alt="")
							|+7 495 786-73-57
						.header_lnk.hide_991
							a.js-modal.btn-radius.btn-m.btn-bd-orange(href="#modal_call") Заказать звонок
							a.btn-radius.btn-m.btn-bd-orange(href="javascript:;") Написать письмо

				.col-xl-4.col-lg-3
					form.header_search.order-2.order-md-1
						input(type="text" placeholder="Поиск")
						button.js-search-btn.btn_search: img(src="images/icons/search-icon.svg", alt="")

					.header_basket_box.hide_992.order-1.order-lg-2
						.basket_info.hide_767
							span.sleb 5 
								span слебов
							span.price 23 500 
								span ₽
						a.basket_link.icon_box(href="javascript:;"): img(src="images/icons/basket-icon.svg", alt="")

					.js-menu-mob.menu-mob.hide_992.order-3
			//- 			.header_lnk
			//- 				a.btn-radius.btn-m.btn-bd-orange(href="javascript:;") Заказать звонок
			//- 				a.btn-radius.btn-m.btn-bd-orange(href="javascript:;") Написать письмо
			//- 				//- a.btn-radius.btn-s.btn-orange(href="javascript:;") Заказать звонок
			//- 				//- a.btn-radius.btn-s.btn-grey(href="javascript:;") Заказать звонок
			//- 				//- a.btn-icon-right.btn-radius.btn-l.btn-bd-white(href="javascript:;") 
			//- 				//- 	span Перейти в каталог
			//- 				//- 		img(src="images/icons/arr-right-mini-icon.svg", alt="")
			//- 				//- a.btn-radius.btn-l.btn-orange(href="javascript:;") Написать письмо

	// - - - - - - - - - - - - - End of Header Center - - - - - - - - - - - - - - - - 


	// - - - - - - - - - - - - - Header Bottom - - - - - - - - - - - - - - - - 
	
	.header_bottom
		.container
			.row.align-items-lg-center
				.col-xl-9.col-lg-9
					//  - - - - - - - - - - - - - Menu Navigation - - - - - - - - - - - - - - - - 
					
					nav#primary_menu
						.login_box.hide_768
							a.login_link(href="javascript:;") Вход для поставщиков
						.js-close-menu-mob.close-mob.hide_992 &times;
						block menu
						menu.menu
							li.menu_item
								a(class=(page === '1') ? "menu_link current" : "menu_link" href="javascript:;") Все слебы   
								//- .dropdown_box
								//- 	ul
								//- 		li: a(href="javascript:;") новости воб
								//- 		li: a(href="javascript:;") анонсы
								//- 		li: a(href="javascript:;") сми
								//- 		li: a(href="javascript:;") разное
							li.menu_item
								a(class=(page === '2') ? "menu_link current" : "menu_link" href="javascript:;") Мрамор
							li.menu_item
								a(class=(page === '3') ? "menu_link current" : "menu_link" href="javascript:;") Гранит
							li.menu_item
								a(class=(page === '4') ? "menu_link current" : "menu_link" href="javascript:;") Травертин
							li.menu_item
								a(class=(page === '5') ? "menu_link current" : "menu_link" href="javascript:;") Оникс
							li.menu_item
								a(class=(page === '6') ? "menu_link current" : "menu_link" href="javascript:;") Известняк
							li.menu_item
								a(class=(page === '6') ? "menu_link current" : "menu_link" href="javascript:;") Сланец
							li.menu_item
								a(class=(page === '7') ? "menu_link current" : "menu_link" href="javascript:;") Кварцит
							li.menu_item
								a(class=(page === '8') ? "menu_link current" : "menu_link" href="javascript:;") Песчаник
							li.menu_item
								a(class=(page === '9') ? "menu_link current" : "menu_link" href="javascript:;")
									i: img(src="images/icons/percent-icon.svg", alt="")
									|Скидки

					//  - - - - - - - - - - - - - End of Menu Navigation - - - - - - - - - - - - - - - - 
				.col-xl-3.col-lg-3.hide_991
					.header_basket_box
						.basket_info
							span.sleb 5 
								span слебов
							span.price 23 500 
								span ₽
						a.basket_link.icon_box(href="javascript:;"): img(src="images/icons/basket-icon.svg", alt="")

	// - - - - - - - - - - - - - End of Header Bottom - - - - - - - - - - - - - - - - 

	
	

	
	

		