//- Popup Start     ============================================ 


//- block popup

// Popup Start     ============================================ 

#modal_form.mfp-hide.mfp-with-anim.modal_form_container
	form#fast_order_form.modal_form.js-validate2
		.modal_title_box: h4.fw600 Быстрый заказ
		.modal_whats
			.ticket_name Гранит
			h5.fw600 White River
			span Блок 223
		.modal_form_wrap
			.form_row2
				label.label2 Ваше имя
				input(type="text"  name="val_name")
			.form_row2
				label.label2 Телефон
				input(type="tel" placeholder="+7 (         )" name="val_tel")
				//- p.attention Обязательно сообщите номер
			.form_row2.full
				label.label2 Комментарий
				textarea.modal_textarea(placeholder="Введите текст" name="val_comment")
		.modal_form_button
			a.mfp-close.btn-l.btn-radius.btn-bd-black.btn-w(href="javascript:;") Отмена
			button.btn-l.btn-radius.btn-orange.btn-w( type="submit") Оформить


#modal_order_processed.mfp-hide.mfp-with-anim.modal_form_container
	.modal_title_box.al_center: h4.fw600 Заказ оформлен
	.modal_text_box
		p Спасибо, мы свяжемся с вами в ближайшее время!
	.modal_form_button.center
		a.mfp-close.btn-l.btn-radius.btn-orange.btn-w(href="#") Готово


#modal_thanks.mfp-hide.mfp-with-anim.modal_form_container
	.modal_title_box.al_center: h4.fw600 Спасибо за покупку!
	.modal_text_box
		p Наш оператор свяжется с вами в ближайшее время!
	.modal_form_button.center
		a.mfp-close.btn-l.btn-radius.btn-orange.btn-w(href="javascript:;") Готово


#modal_call.mfp-hide.mfp-with-anim.modal_form_container
	form#back_call_form.modal_form.js-validate3
		.modal_title_box: h4.fw600 Обратный звонок
		hr.hr
		.modal_form_wrap
			.form_row2
				label.label2 Ваше имя
				input(type="text" name="val_name")
			.form_row2
				label.label2 Телефон
				input(type="tel" placeholder="+7 (         )" name="val_tel")
				//- p.attention Обязательно сообщите номер
			.form_row2.full
				label.label2 Комментарий
				textarea.modal_textarea(placeholder="Введите текст" name="val_comment")
		.modal_form_button
			a.mfp-close.btn-l.btn-radius.btn-bd-black.btn-w(href="javascript:;") Отмена
			button.btn-l.btn-radius.btn-orange.btn-w( type="submit") Оформить

#subscribe_modal.mfp-hide.mfp-with-anim.modal_form_container
	.modal_title_box: h4.fw600 Спасибо!
	hr.hr
	.modal_form_wrap
		p На вашу электронную почту отправлено письмо с ссылкой подтверждения подписки на рассылку.
		br
		br
	

// Popup End       ============================================ 


//- Popup End       ============================================ 