// Include Libs     ============================================ 

script(src="js/jquery-3.2.1.min.js")
script(src="js/jquery-migrate-3.0.1.min.js")

// Include Libs End       ============================================ 
script(src="plugins/modernizr.js")
script(src="plugins/owl.carousel/owl.carousel.min.js")
script(src="plugins/formstyler/jquery.formstyler.min.js")
script(src="plugins/magnific-popup/jquery.magnific-popup.min.js")
script(src="plugins/inputmask/inputmask.js")
script(src="plugins/inputmask/inputmask.phone.extensions.js")
script(src="plugins/inputmask/jquery.inputmask.js")
script(src="plugins/EasyAutocomplete-1.3.5/jquery.easy-autocomplete.min.js")
script(src="plugins/jquery.validate/jquery.validate.min.js")
script(src="plugins/clipboard/clipboard.min.js")
script(src="plugins/TouchSwipe/jquery.touchSwipe.js")
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
script(src="js/script_yamap.js")

// Scripts Init Plugins & Core START     ============================================ 

script(src="js/script.init.js")
script(src="js/script.core.js")

script
	include script.js
// Scripts Init Plugins & Core END       ============================================ 