        /*==========>>    <<==========*/
            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}
        /*==========>>    <<==========*/
            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}
        /*==========>>    <<==========*/
            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            
            .mb100{margin-bottom: 100px;}
            .mb90{margin-bottom: 90px;}
            .mb80{margin-bottom: 80px;}
            .mb70{margin-bottom: 70px;}
            .mb65{margin-bottom: 65px;}
            .mb60{margin-bottom: 60px;}
            .mb55{margin-bottom: 55px;}
            .mb50{margin-bottom: 50px;}
            .mb45{margin-bottom: 45px;}
            .mb40{margin-bottom: 40px;}
            .mb36{margin-bottom: 36px;}
            .mb30{margin-bottom: 30px;}
            .mb20{margin-bottom: 20px;}
            .mb10{margin-bottom: 10px;}
        /*==========>>    <<==========*/
            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
        /*==========>>    <<==========*/
            .clearfix:after{
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }
            .wrapper {overflow:hidden;}
        /*==========>>    <<==========*/
            .d_block{display:block;}
            .d_ib{display:inline-block;}
            .d_i{display:inline;}
            .d_none{display:none;}
            .d_f{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
            .d_if{display: -webkit-inline-box;display: -webkit-inline-flex;display: -ms-inline-flexbox;display: inline-flex;}
        /*==========>>    <<==========*/
            * a,
            * button{
                -webkit-transition: all 0.7s ease;
                -o-transition: all 0.7s ease;
                transition: all 0.7s ease;

                &:hover{
                    -webkit-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }
            }
            a{
                color: inherit;
                &:hover{
                    color: $default;
                }
                &.abs_link{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            [data-popup]{cursor: pointer;}
            
            
            [class*="btn-"]{
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
                border-width: 1px;
                border-style: solid;
                text-align: center;
            }
            
            /* icons*/
            [class*="btn-icon"]{
                position:relative;
                span{
                    position:relative;
                    img{
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translateY(-40%);
                               -ms-transform: translateY(-40%);
                                   transform: translateY(-40%);   
                        -webkit-transition: all 0.7s ease;
                        -o-transition: all 0.7s ease;
                        transition: all 0.7s ease;
                    }
                }

                &:hover{
                    span{
                        img{
                            -webkit-transition: all 0.1s ease;
                            -o-transition: all 0.1s ease;
                            transition: all 0.1s ease;
                        }
                    }
                }
            }
            /* icons position*/
            .btn-icon{
                &-left{
                    span{
                        padding-left: 32px;
                        img{
                            left: 0;
                            &.d_n{
                                opacity: 0;
                                visibility: hidden;
                            }
                        }
                    }
                    &:hover{
                        span{
                            img{
                                &:not(.d_n){
                                    opacity: 0;
                                    visibility: hidden;
                                }
                                &.d_n{
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                }
                &-right{
                    span{
                        padding-right: 32px;
                        img{
                            right: 0;
                        }
                    }
                }
            }
            
            /* radius*/
            .btn-no-radius{
                -webkit-border-radius: 0;
                        border-radius: 0;
            }
            .btn-radius{
                -webkit-border-radius: 20px;
                        border-radius: 20px;
            }
            
            /* size*/
            .btn-s{ 
                padding: 4.5px 13px;
                font-size: 11px;
                line-height: 13px;
            }
            .btn-m{
                padding: 8.5px 17px;
                font-size: 11px;
                line-height: 13px;
            }
            .btn-l{
                padding: 11.5px 16px;
                font-size: 13px;
                line-height: 15px;
            }
            .btn-xl{
                padding: 17.5px 15px;
            }
            .btn-full{
                width: 100%;
            }
            .btn-w{min-width: 144px;}
            .btn-w2{min-width: 248px;}
            
            /* color*/
            .btn-bd-orange{
                border-color: $soft_orange;
                color: $soft_orange;
                &:hover{
                    background-color: $soft_orange;
                    /* color: $black;*/
                    color: $white;
                }
            }
            .btn-bd-black{
                border-color: $button;
                color: $button;
                &:hover{
                    background-color: $button;
                    color: $white;
                }
            }
            .btn-bd-white{
                border-color: $white;
                color: $white;
                &:hover{
                    background-color: $soft_orange;
                    border-color: $soft_orange;
                    color: $white;
                }
            }
            .btn-orange{
                border-color: $soft_orange;
                background-color: $soft_orange;
                color: $white;
                &:hover{
                    background-color: $white;
                    /* color: $default;*/
                    color: $soft_orange;
                }
                &[disabled],
                &[disabled]:hover{
                    border-color: $lite-grey;
                    background-color: $lite-grey;
                    color: $default;
                    cursor: default;
                }
            }
            .btn-grey{
                border-color: $lite-grey;
                background-color: $lite-grey;
                color: $default;
                &:hover{
                    background-color: $white;
                    color: $black;
                }
            }

            .is-load-btn{
                position: relative;
                &:before{
                    content: attr(data-load-text);
                    position: absolute;
                    text-align: center;
                    top: -1px;
                    left: -1px;
                    right: -1px;
                    bottom: -1px;
                    z-index: 1;
                    padding: inherit;
                    font-size: inherit;
                    line-height: inherit;
                    font-weight: 500;
                    background: #081B29;
                    color: #FFF;
                    -webkit-border-radius: 20px;
                            border-radius: 20px;
                    -webkit-transition: all ease 0.3s;
                         -o-transition: all ease 0.3s;
                            transition: all ease 0.3s;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 9px;
                    z-index: 2;
                    width: 16px;
                    height: 16px;
                    margin-top: -8px;
                    background: url(../images/icons/load-icon.png) 49% 49% no-repeat;
                    -webkit-transition: all ease 0.3s;
                         -o-transition: all ease 0.3s;
                            transition: all ease 0.3s;
                    -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0.5, 0.5, 0.5) infinite;
                    animation: lds-ring 1.2s cubic-bezier(0.5, 0.5, 0.5, 0.5) infinite;
                }
            }
            @-webkit-keyframes lds-ring {
              0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
              }
              100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
              }
            }
            @keyframes lds-ring {
              0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
              }
              100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
              }
            }

            /* link*/
            [class*="link-"]{
                text-decoration: none;
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
                font-weight: inherit;
                /* letter-spacing: 0.05em;*/
                color: inherit;
            }

            /* .link-size{*/
            /*     font-size: 13px;*/
            /*     line-height: 20px;*/
            /* }*/
            

            [class*="link-icon-"]{
                position:relative;
                & i {
                    position: absolute;
                    top: 50%;
                    line-height:0;
                    -webkit-transform: translateY(-60%);
                        -ms-transform: translateY(-60%);
                            transform: translateY(-60%);
                    img{
                        -webkit-transition: all ease 0.3s;
                             -o-transition: all ease 0.3s;
                                transition: all ease 0.3s;
                    }
                }
                &:hover{
                    & i {
                        img{
                            -webkit-transform: translateX(5px);
                            -ms-transform: translateX(5px);
                            transform: translateX(5px);
                        }
                    }
                }
            }
            .link-icon-left{
                padding-left: 37px;
                i{
                    left: 0;
                }
            }
            .link-icon-right{
                padding-right: 20px;
                i{
                    right: 0;
                }
            }
            
            /* [class*="link-bd"]{*/
            /*    position: relative;*/
            /*    z-index: 1;*/
            /*     span{*/
            /*         position: relative; */
            /*         overflow: hidden;*/
            /*         padding-left: 4px;*/
            /*         padding-right: 4px;*/
            /*         margin-left: -4px;*/
            /*         &:before{*/
            /*             content: '';*/
            /*             position: absolute;*/
            /*             top: 0;*/
            /*             left: 0;*/
            /*             z-index: -1;*/
            /*             width: 100%;*/
            /*             height: 100%;*/
            /*             background-color: $default;*/
            /*             -webkit-transition: -webkit-transform 0.2s;*/
            /*             transition: -webkit-transform 0.2s;*/
            /*             -o-transition: transform 0.2s;*/
            /*             transition: transform 0.2s;*/
            /*             transition: transform 0.2s, -webkit-transform 0.2s;*/
            /*             -webkit-transform: translateY(90%);*/
            /*             -ms-transform: translateY(90%);*/
            /*             transform: translateY(90%);*/
            /*         }*/
            /*     }   */
            /*     &:hover{*/
            /*         span{*/
            /*             &:before{*/
            /*                 -webkit-transform: translateY(0);*/
            /*                 -ms-transform: translateY(0);*/
            /*                 transform: translateY(0);*/
            /*             }*/
            /*         }*/
            /*     }*/
            /* }*/
            
            .link-full{
                width: 100%;
            }
            .link-m {
                padding: 8.5px 17px;
                font-size: 11px;
                line-height: 13px;
            }

            .link-uppercase{
                text-transform: uppercase;
            }
            .link-spacing{
                letter-spacing: 0.05em;
            }

            /* link-colors start*/

            .link-black{
                color: $black;
                &:hover{
                    color: $soft_orange;
                }
            }
            .link-orange{
                color: $soft_orange;
                &:hover{
                    color: $soft_orange;
                }
            }
            .link-white{
                color: $white;
                &:hover{
                    color: $soft_orange;
                }
            }

        /*==========>>  2.1.     Colors   <<==========*/
            .white{color: $white;}
            .black{color: $black;}
            .grey{color: $default;}
            .grey2{color: $breadcrumbs;}

            .bg_black{background-color: $black;}
            .bg_grey{background-color: $lite-grey;}
            .bg_grey2{background-color: $solitude;}

        /*==========>>  2.2.     Typography   <<==========*/
            h1,.h1,h1.fz44,.h1.fz44,
            h2,.h2,h2.fz32,.h2.fz32,
            h3,.h3,h3.fz24,.h3.fz24,
            h4,.h4,h4.fz22,.h4.fz22,
            h5,.h5,h5.fz18,.h5.fz18,
            h6,.h6,h6.fz16,.h6.fz16{
                font-family: inherit;
                font-weight: 800;
                line-height: 1.15;
                color: $black;
            }
            
            h1,.h1,.fz44{
                font-size: 44px;
            }
            h2,.h2,.fz34{
                font-size: 34px;
            }
            h2.fz32,.h2.fz32,.fz32{
                font-size: 32px;
            }
            h3,.h3,.fz24{
                font-size: 24px;
            }
            h4,.h4,.fz22{
                font-size: 22px;
            }
            h5,.h5,.fz18{
                font-size: 18px;
            }
            h6,.h6,.fz16{
                font-size: 16px;
            }
            .fz13{
                font-size: 13px;
                line-height: 1.15;
            }
            .fz11{
                font-size: 11px;
                line-height: 1.15;
            }
            .lt_sp0{letter-spacing: 0;}
            .lt_sp{letter-spacing: 0.02em;}
            .tile_subscript.lh1 ,
            .tile_title.lh1 ,
            .tile_subtitle.lh1 ,
            .lh1{line-height: 1.6;}

            .fw400{font-weight: 400;}
            .fw500{font-weight: 500;}
            .fw600{font-weight: 600;}
            .fw700{font-weight: 700;}
            .fw800{font-weight: 800;}


            p{
                &:not(:last-child){
                    margin-bottom: 8px;
                }
            }
            
            .ttu{text-transform: uppercase;}
            .ttn{text-transform: none;}

            
        /*==========>>  2.3.     Form   <<==========*/
        

            input:not(:placeholder-shown) {
              /** input is not empty */
            }

            input:placeholder-shown {
              /** input is empty */
            }
            
        
            /* placeholders start*/
            input,  
            textarea {  
                @include placeholder {
                    -webkit-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    font-size: 11px;
                    color: #9098B1;
                }

                &:focus{
                    @include placeholder {
                        color: transparent;
                    }
                }
            }

            /* placeholders end*/
            
            /*===  input  ===*/
            
            label{
                display: block;
                margin-bottom: 15px;
                font-size: 13px;
                line-height: 1.2;
                color: $default;
                &.label2{
                    font-size: 11px;
                    margin-bottom: 3px;   
                }
            }
            input{
                position: relative;
                z-index: 2;
                height: 32px;
                width: 100%;
                padding: 5px 12px;
                font-family: 'Montserrat', sans-serif;
                -webkit-border-radius: 20px !important;
                        border-radius: 20px !important;
                font-size: 13px;
                line-height: 16px;
                font-weight: 500;
                /* color: $breadcrumbs;*/
                color: $black;
                border: 1px solid $border;
                background-color: $lite-grey;
                -webkit-transition:background-color ease 0.5s ;
                     -o-transition:background-color ease 0.5s ;
                        transition:background-color ease 0.5s ;
                &:focus{
                    background-color: $white;
                }
            }
            textarea{
                width: 100%;
                height: 87px;
                padding: 18px 32px;
                font-family: 'Montserrat', sans-serif;
                font-size: 13px;
                line-height: 24px;
                font-weight: 500;
                border: none;
                border-top: 1px solid $border;
                color: $black;
                resize: none;
                & {  
                    @include placeholder {
                        font-size: 13px;
                        color: rgba($default, 0.5);
                    }
                }
            }
            
            button{
                border: none;
                padding: 0; 
            }

            sub,
            sup {
              font-size: 45%;
              line-height: 0;
              position: relative;
              vertical-align: baseline;
            }
            sup {
              top: -1em;
            }
            sub {
              bottom: -0.25em;
            }
            
        /*==========>>  2.4.     Plugins   <<==========*/
            
            /* owl carousel start */
                .owl-carousel {
                    .owl-item img{
                        display: inline-block;
                        width: auto;
                    } 
                    .owl-nav {
                        button{
                            &.owl-prev,
                            &.owl-next{
                                position: relative;
                                display: inline-block;
                                padding: 0;
                                width: 40px;
                                height: 40px;
                                font-size: 0;
                                line-height: 0;
                                background-color: $lite-grey;
                                
                                &:before{
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    width: 7px;
                                    height: 10px;
                                    background: url(../images/icons/arr-left-mini-black-icon.svg) 0 0 no-repeat;
                                    -webkit-transform: translate(-50%,-50%);
                                        -ms-transform: translate(-50%,-50%);
                                            transform: translate(-50%,-50%);
                                }
                            }
                            &.owl-next{
                                &:before{
                                    background-image: url(../images/icons/arr-right-mini-black-icon.svg);
                                }
                            }
                        }
                    }
                    .owl-dots{
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -37px;
                        line-height: 0;
                        margin-left: -3px;
                    }
                    button{
                        &.owl-dot{
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            margin: 0 3px;
                            line-height: 0;
                            text-align: center;
                            -webkit-border-radius: 50%;
                                    border-radius: 50%;
                            span{
                                display: inline-block;
                                width: 4px;
                                height: 4px;
                                -webkit-border-radius: 50%;
                                        border-radius: 50%;
                                background-color: #dadddf;
                            }
                            &:hover,
                            &.active{
                                background-color: $soft_orange;
                                span{
                                    background-color: $soft_orange;
                                }
                            }
                        }
                    }
                }
            /* owl carousel end   */
            
            /* formstyler checkbox start */
                .jq-checkbox{
                    top: 0;
                    margin-right: 8px;
                    -webkit-border-radius: 2px;
                    border-radius: 2px;
                    background: $lite-grey;
                    -webkit-box-shadow: none;
                            box-shadow: none;
                    border: 1px solid $border;
                    &.focused{
                        border: 1px solid $border;
                    }
                    &.checked {
                        background: $soft_orange;
                        border-color: $soft_orange;
                        .jq-checkbox__div{
                            margin: -1px 0 0 -1px;
                            width: 16px;
                            height: 16px;
                            background: url(../images/icons/check-icon.svg) 50% 50% no-repeat;
                            -webkit-background-size: 12px;
                                    background-size: 12px;
                            -webkit-box-shadow: none;
                                    box-shadow: none;
                        }
                    }
                }
            /* formstyler checkbox end   */
            
            /* formstyler radio start */
                input[type="radio"] {
                    width: 16px;
                    height: 16px;
                }
                .jq-radio{
                    top: 0;
                    background: $lite-grey;
                    border: none !important;
                    -webkit-border-radius: 20px;
                    border-radius: 20px;
                    -webkit-box-shadow: inset 0px 1px 1px 0 $border;
                            box-shadow: inset 0px 1px 1px 0 $border;
                    color: $default;
                    &.focused{

                        /* border: 1px solid $border;*/
                    }
                    &.checked {
                        background: $soft_orange;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        .jq-radio__div{
                            width: 8px;
                            height: 8px;
                            margin: 4px 0 0 4px;
                            -webkit-box-shadow: none;
                                    box-shadow: none;
                            background: $white;
                        }
                    }
                }
            /* formstyler radio end   */
            
            /* formstyler select start */
                .jq-selectbox{
                    z-index: 50 !important;
                    &.opened{
                        .jq-selectbox__trigger-arrow{
                            -webkit-transform: rotate(-180deg);
                            -ms-transform: rotate(-180deg);
                            transform: rotate(-180deg);
                        }
                    }
                }
                .jq-selectbox__select{
                    -webkit-border-radius: 20px;
                    border-radius: 20px;
                    padding-left: 12px;
                    padding-right: 32px;
                    height: auto;
                    font-family: inherit;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 1.2;
                    border: 1px solid $border;
                    color: $black;
                    background: $white;
                    text-shadow: none;
                    -webkit-box-shadow: none;
                            box-shadow: none;
                    &-text{
                        padding-right: 25px;
                        width: 100% !important;
                        line-height: 32px;
                    }
                    &:active {
                        background: $white;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }

                    &:hover {
                        background: $white;
                    }
                    .jq-selectbox.focused & {
                        border: 1px solid $border;
                    }
                }
                .jq-selectbox__trigger{
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: 32px;
                    border: none;
                    &-arrow{
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 11px;
                        height: 7px;
                        margin-top: -3.5px;
                        border: none;
                        background: url(../images/icons/arr-down-black-icon.svg) 0 0 no-repeat;
                        -webkit-transition: -webkit-transform ease 0.2s;
                        transition: -webkit-transform ease 0.2s;
                        -o-transition: transform ease 0.2s;
                        transition: transform ease 0.2s;
                        transition: transform ease 0.2s, -webkit-transform ease 0.2s;
                    }   
                }
                .jq-selectbox__dropdown{
                    width: 100%;
                    margin: 3px 0; 
                    font-size: 12px;
                    line-height: 30px;
                    font-weight: 300;
                    background: $white;
                    border: 1px solid $soft_orange;
                    -webkit-border-radius: 4px;
                            border-radius: 4px;   
                    -webkit-box-shadow: 0px 5px 20px 0px $soft_orange;   
                    box-shadow: 0px 5px 20px 0px $soft_orange;
                    ul{
                        padding: 0;
                        li{
                            padding: 0 12px;
                            cursor: pointer;
                            &.selected,
                            &:hover{
                                background-color: $soft_orange;
                            }
                        }
                    }
                }
            /* formstyler select end   */

            /* magnific popup start*/
                .mfp-gallery{
                    /* background: rgba($black, .3);*/
                }
                .mfp-bg{
                    background: $black;
                }
                .mfp-container{
                    padding: 0; 
                }
                .mfp-content{
                    width: 100%;
                }
                .mfp-figure {
                    width: 100%;
                    &:after{
                        display: none;
                    }
                    figure{
                        position: relative;
                        width: 100%;
                        &:after{
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            height: 208px;
                            width: 100%;
                            background: -webkit-linear-gradient(rgba(8, 27, 41, 0) 0%, rgba(8, 27, 41, 0.7) 100%);
                            background: -o-linear-gradient(rgba(8, 27, 41, 0) 0%, rgba(8, 27, 41, 0.7) 100%);
                            background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 27, 41, 0)), to(rgba(8, 27, 41, 0.7)));
                            background: linear-gradient(rgba(8, 27, 41, 0) 0%, rgba(8, 27, 41, 0.7) 100%);
                        }
                        figcaption {
                            position: absolute;
                            z-index: 2;
                            bottom: 0;
                            left: 0;
                            right: 0;
                        }
                    }
                }
                .mfp_img_box{
                    position: relative;
                }
                img.mfp-img{
                    padding: 0;
                    width: 100%;
                }
                button.mfp-close{
                    top: 32px;
                    right: 32px !important;
                    width: 56px !important;
                    height: 56px;
                    font-size: 0;
                    background: $white url(../images/icons/close2-icon.svg) 50% 50% no-repeat;
                    -webkit-border-radius: 50%;
                            border-radius: 50%;
                    opacity: 1;
                    cursor: pointer;
                    &:active {
                        top: 32px;
                    }
                }
                .mfp-arrow{
                    width: 80px;
                    height: 80px;
                    margin-top: -40px;
                    -webkit-border-radius: 50%;
                            border-radius: 50%;
                    opacity: 1;
                    &:before, 
                    &:after{
                        display: none;
                    }
                    &:active{margin-top: -40px;}
                }
                .mfp-arrow-left{
                    left: 32px;
                    background: rgba($black, 0.5) url(../images/icons/arr-left-icon.svg) 50% 50% no-repeat !important;
                }
                .mfp-arrow-right{
                    right: 32px;
                    background: rgba($black, 0.5) url(../images/icons/arr-right-icon.svg) 50% 50% no-repeat !important;
                }
                .mfp-bottom-bar{
                    position: static;
                    margin: 0;
                    padding: 0 145px 40px;   
                }
                .mfp-title,
                .popup_sleb_price-btn{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                    -moz-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                    -o-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -webkit-align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                    padding-top: 50px;
                }
                .mfp-title{
                    padding-right: 0;
                    
                    .btn-orange:hover {
                        background-color: transparent;
                        color: #CF9B42;
                    }
                }
                .popup_sleb_price-btn{
                    -webkit-flex-basis: 100%;
                    -moz-flex-basis: 100%;
                    -ms-flex-basis: 100%;
                    -o-flex-basis: 100%;
                    flex-basis: 100%;
                    -webkit-flex-grow: 1;
                            -webkit-box-flex: 1;
                            -ms-flex-positive: 1;
                            flex-grow: 1;
                    -webkit-justify-content: flex-start;
                    -moz-justify-content: flex-start;
                    -ms-justify-content: flex-start;
                    -o-justify-content: flex-start;
                    justify-content: flex-start;
                    .js-add-basket{
                        &:before{
                            content: attr(data-def-text);
                        }
                        &.check{
                            &:before{
                                content: attr(data-text);
                            }
                        }
                    }
                    .reserve_label{
                        width: auto;
                        span{
                            position: relative;
                            top: 0;
                            left: 0;
                            transform: none;
                        }
                    }
                }
                .popup_sleb_discount{
                    margin-right: 21px;
                    & .old_price{
                        margin-right: 8px;
                        font-size: 16px;
                        line-height: 24px;
                        color: #E84C3D;
                    }
                }
                .popup_sleb_descr{
                    margin-right: 22px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                    line-height: 1.2;
                    font-weight: 500;
                    color: $white;   
                    >*{
                        &:not(:last-child){
                            margin-right: 29px;
                        }    
                    }
                }
                .popup_sleb_photo{
                    margin-right: 29px;
                    a:not(:last-child){
                      margin-right: 22px;
                    }
                } 
                .popup_sleb_price2{
                    margin-right: 22px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                    line-height: 1.2;
                    font-weight: 500;
                    color: $white;
                }
                .mfp-counter{
                    display: none;
                }
                .popup_sleb_price{
                    margin-right: 19px;
                    font-size: 22px;
                    font-weight: 600;   
                    color: $white;
                }
                .copy-link{
                    position: relative;
                    padding: 8px 10px;
                }
                .copy-link textarea#bar{
                    position: absolute !important;
                    top: 0;
                    left: 0;
                    width: 100% !important;
                    height: 100% !important;
                    opacity: 0 !important;
                    cursor: pointer !important;
                }
                .copy-link:before{
                    /* font-size: 0;*/
                    /* content: attr(data-text);*/
                    content: "";
                    width: 18px;
                    height: 18px;
                    display: inline-block;
                    background-image: url(../images/icons/copy-icon.png);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                }
                .copy-link.disabled{
                    border-color: #CF9B42;
                    background-color: #CF9B42;
                    color: #fff;
                    cursor: default;
                    
                    &:before{
                        background-image: url(../images/icons/copy-icon_dis.svg);
                    }
                }
                /* .copy-link.disabled:before{*/
                /*     content: attr(data-text2);*/
                /* }*/
            /* magnific popup end  */
            
            /* input autocomplete start */

                .easy-autocomplete-container {
                    z-index: 9;
                    width: auto;
                    margin-top: 8px;
                    margin-left: 10px;
                    -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
                    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
                    background-color: $white;
                    -webkit-border-radius: 4px;
                    border-radius: 4px;
                    overflow: hidden;
                    
                    ul {
                        /* display: block !important;*/
                        position: static;
                        padding: 19px 16px 16px;
                        width: 224px;
                        max-height: 140px;
                        border: none;
                        text-align: left;
                        overflow-y: auto;
                        li{
                            padding: 0;
                            border: none !important;
                            font-size: 0;
                            &:not(:last-child){
                                margin-bottom: 3px;
                            }
                            &.selected {
                                background: transparent;
                                font-weight: 500;
                                color: $soft_orange;
                                div{
                                    font-weight: 500;
                                    color: $soft_orange;
                                    b{
                                        color: $soft_orange;
                                    }
                                }
                            }
                        }
                        .eac-item {
                            font-family: inherit;
                            font-size: 13px;
                            line-height: 1.9;
                            font-weight: 500;
                            color: $breadcrumbs;
                            b {
                                color: $black;
                                font-weight: 500;
                            }
                        }
                    }
                }
            /* input autocomplete end   */

            
        /*==========>>  2.5.     Breadcrumbs   <<==========*/
            
            .breadcrumbs_container{
                position: relative;
                border-top: 1px solid #D9DFEE;
                border-bottom: 1px solid #D9DFEE;
                padding: 20px 0;
                &:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: block; 
                    height: 100%;
                    width: 144px;   
                    background-image: url(../images/skin.png);
                    background-repeat: repeat;
                }
            }
                .breadcrumbs{
                    display: block;
                    list-style: none;
                    color: $breadcrumbs;
                    
                    li{
                        position: relative;
                        float: left;
                        padding-right: 16px;
                        
                        &:before{
                            /* content: attr(data-bread-arr);*/
                            content: " ";
                            position: absolute;
                            right: 0;
                            top: 0;
                            display: block;
                            background: url(../images/icons/breadcrumbs_symbol.png) 50% 50% no-repeat;
                            width: 16px;
                            height: 13px;
                        }
                        &:first-child{
                            a{
                                padding-left: 0;
                            }
                        }
                        &:last-child{
                            &:before{
                                display: none;
                            }
                        }
                        
                        a{
                            text-decoration: none;
                            color: inherit;
                            span{
                                color: inherit;
                            }
                        }
                        span{
                            color: $black;
                        }
                    }
                }