    #content {
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
        .indent{
            padding-bottom: 112px;
        }
        .indent2{
            padding-top: 50px;
            padding-bottom: 47px;
        }
        .indent3{
            padding-top: 37px;
        }
        .indent4{
            padding-bottom: 39px;
        }
        .indent5,
        .default_container.indent5{
            padding-top: 57px;
            padding-bottom: 0;
        }
        .negative_indent{
            margin-top: -304px;
        }
        .dummy{
            height: 152px;
            background-color: $lite-grey;
        }

        .titlebar{
            padding: 42px 0;
            border-bottom: 1px solid $border;
        }

        /* - - - - - - - - - - first_screen - - - - - - - - - - */
            .first_screen{
                position: relative;
                min-height: 608px;
                padding-top: 50px;
                padding-bottom: 112px;
                
                >.container,
                >.container>.row{
                    min-height: 100%;
                    height: 100%;    
                }
                
                &_img{
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    -webkit-background-size: cover;
                            background-size: cover;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0,0,0,0.3);
                    }
                }
                &_text{
                    color: #FFF;
                }
            }
                .first_title{
                    margin-bottom: 28px;
                    color: #fff;
                }
                .first_sub_title{
                    margin-bottom: 68px;
                    font-weight: 500;
                    color: #fff;
                }
        /* - - - - - - - - - -/ end of first_screen - - - - - - - - - - */
        

        /* - - - - - - - - - - second_screen - - - - - - - - - - */
            .second_screen{
            }
                .tile_box{
                    position: relative;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                        -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                }
                    .tile_sub_wrap{
                        position: relative;
                        width: 50%;
                        .tile_sub_box{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .tile_bg_abs{
                        position: absolute;
                        top: 0;
                        left: 100%;
                        height: 100%;
                        background-color: #CF9B42;
                    }
                    .tile_sub_box{
                        position: relative;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-align-items: flex-end;
                                -webkit-box-align: end;
                                -ms-flex-align: end;
                                align-items: flex-end;
                        width: 50%;
                        min-height: 304px;
                        padding: 37px 32px 32px 32px;
                        -webkit-background-size: cover;
                                background-size: cover;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        color: $white;
                        cursor: pointer;
                        overflow: hidden;
                        
                        &:before{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.6);
                            -webkit-transform: translate(100%,100%);
                                -ms-transform: translate(100%,100%);
                                    transform: translate(100%,100%);
                                    -webkit-transition: all ease 0.3s;
                                    -o-transition: all ease 0.3s;
                                    transition: all ease 0.3s;
                        }
                        &:after{
                            content: "";
                            position: absolute;
                            display: block;
                            left: 0;
                            right: 100%;
                            bottom: 0;
                            border-bottom: 4px solid $white;
                            -webkit-transition: all ease 0.3s;
                            -o-transition: all ease 0.3s;
                            transition: all ease 0.3s;
                        }
                        &:hover{
                            &:before{
                                -webkit-transform: translate(0,0);
                                    -ms-transform: translate(0,0);
                                        transform: translate(0,0);       
                            }
                            &:after{
                                right: 0;
                            }
                        }
                            
                        &:not(.view2):not(.view3){
                            .p_rel{
                                padding-right: 50px;
                            }
                        }

                        &.view2{
                            .p_rel{
                                min-height: 100%;  
                                display: -webkit-box;               
                                display: -webkit-flex;               
                                display: -ms-flexbox;               
                                display: flex;
                                display: flex;
                                -webkit-flex-direction: column;
                                    -ms-flex-direction: column;
                                        -webkit-box-orient: vertical;
                                        -webkit-box-direction: normal;
                                        flex-direction: column;
                                -webkit-justify-content: space-between;
                                        -webkit-box-pack: justify;
                                        -ms-flex-pack: justify;
                                        justify-content: space-between;
                                width: 100%;
                                word-break: break-word;
                                word-wrap: break-word;
                            }
                            .tile_subtitle{
                                padding-right: 43px;
                                font-size: 34px;
                                text-transform: uppercase;
                            }
                        }

                        &.view3{
                            color: inherit;
                            cursor: default;
                            background-repeat: repeat;
                            -webkit-background-size: contain;
                                    background-size: contain;
                            &:before,
                            &:after{
                                display: none;
                            }
                            .tile_title{
                                margin-bottom: 10px;
                                color: $black;
                            }
                            .p_rel{
                                min-height: 100%;
                                display: -webkit-box;
                                display: -webkit-flex;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-flex-direction: column;
                                    -ms-flex-direction: column;
                                        -webkit-box-orient: vertical;
                                        -webkit-box-direction: normal;
                                        flex-direction: column;
                                    -webkit-box-align: start;
                                    -webkit-align-items: flex-start;
                                    -ms-flex-align: start;
                                    align-items: flex-start;
                            }
                            .tile_subscript{
                                -webkit-flex-grow: 1;
                                        -webkit-box-flex: 1;
                                        -ms-flex-positive: 1;
                                        flex-grow: 1;
                            }
                        }

                        

                        .ticket_name{
                            margin-bottom: 12px;
                        }

                        .tile_subscript{
                            margin-bottom: 30px;
                        }

                        .tile-prev,
                        .tile-next{
                            position: absolute;
                            bottom: 32px;
                            right: 32px;
                        }

                        a.abs_link{
                            z-index: 1;
                        }

                    }


                        .tile_logo{
                            margin-bottom: 25px;   
                        }

                        .tile_subscript{
                            line-height: 2.2;
                        }
                        .tile_title{
                            font-weight: 600;
                            color: inherit;
                            margin-bottom: 7px;
                        }
                        .tile_subtitle{
                            font-size: 44px;
                            font-weight: 800;
                        }


                    .tile_slider{
                        position: relative;
                        padding: 33px 32px 70px;
                        background-color: $white;   
                        width: 100%;
                        h3{
                            margin-bottom: 35px;
                            padding-right: 100px;
                        }
                        .tile_nav{
                            position: absolute;
                            top: 28px;
                            right: 32px;
                        }
                    }
                        .tile_nav{
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            
                        }
                            .tile-prev,
                            .tile-next{
                                position: relative;
                                display: inline-block;
                                margin: 0 4px;
                                width: 40px;
                                height: 40px;
                                font-size: 0;
                                line-height: 0;
                                background-color: $lite-grey;
                                border: 1px solid $lite-grey;
                                -webkit-border-radius: 50%;
                                        border-radius: 50%;
                                cursor: pointer;
                                &:before{
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    width: 7px;
                                    height: 10px;
                                    background: url(../images/icons/arr-left-mini-black-icon.svg) 0 0 no-repeat;
                                    -webkit-transform: translate(-50%,-50%);
                                        -ms-transform: translate(-50%,-50%);
                                            transform: translate(-50%,-50%);
                                }
                                &.view2{
                                    border-color: $white;
                                    background-color: transparent;
                                    &:before{
                                        background-image: url(../images/icons/arr-left-mini-white-icon.svg);
                                    }
                                }
                                .tile_sub_box:hover &,
                                &:hover{
                                    background-color: $soft-orange;
                                    border-color: $soft-orange;
                                    &:before{
                                        background-image: url(../images/icons/arr-left-mini-white-icon.svg);
                                    }
                                }
                            }
                            .tile-next{
                                &.view2{
                                    &:before{
                                        background-image: url(../images/icons/arr-right-mini-white-icon.svg);
                                    }
                                }
                                &:before{
                                    background-image: url(../images/icons/arr-right-mini-black-icon.svg);
                                }
                                .tile_sub_box:hover &,
                                &:hover{
                                    &:before{
                                        background-image: url(../images/icons/arr-right-mini-white-icon.svg);
                                    }
                                }
                            }


                        .about_material{
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                        }
                            .about_material_img{
                                margin-right: 24px;
                                max-width: 136px;
                            }
                            .about_material_text{
                                h6{
                                    margin-bottom: 20px;
                                    font-weight: 500;
                                }   
                            }
                                .ticket_name{
                                    margin-bottom: 50px;
                                    letter-spacing: 0.05em;
                                    text-transform: uppercase;
                                    a{
                                      text-transform: uppercase;  
                                    }
                                }
                                .characteristic_list{
                                    color: #9098B1;
                                    li{
                                        span{
                                            &:not(:last-child){
                                                width: 88px;
                                            }    
                                        }
                                        &:not(:last-child){
                                            margin-bottom: 12px;
                                        }
                                    }
                                }
        /* - - - - - - - - - -/ end of second_screen - - - - - - - - - - */
        

        /* - - - - - - - - - - filter_container - - - - - - - - - - */
            .filter_container{
                
            }
                .filter_form{
                    position: relative;
                    padding-right: 13%;
                    margin-right: 5%;
                    border-right: 1px solid $border;
                    .form_input,
                    .form_select{
                        margin-left: -10px;
                    }
                    input{
                        font-size: 13px;
                        color: $black;
                    }
                }
                .form_row{
                    padding-bottom: 32px;
                    border-bottom: 1px solid $border;
                    &:not(:first-child){
                        padding-top: 23px;
                    }
                    &.show{
                        .form_title{
                            
                            .form_numb,
                            .form_reset_btn{
                                display: block;
                            }
                        }
                    }
                    &2{
                        position: relative;
                        width: calc(50% - 8px);
                        padding-bottom: 0;
                        border-bottom: none;
                        margin-bottom: 21px;
                        &.full{
                            width: 100%;   
                        }
                    }
                }
                    .form_title{
                        position: relative;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-justify-content: space-between;
                                -webkit-box-pack: justify;
                                -ms-flex-pack: justify;
                                justify-content: space-between;
                        -webkit-align-items: center;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                        margin-bottom: 17px;
                        h5{
                            padding: 2px 0;
                        }
                    }
                    .form_inp_search{
                        width: auto;
                        max-width: none;
                    }
                    .form_input{
                        position: relative;
                        &:not(:last-child){
                            margin-bottom: 8px; 
                        }
                        input{
                            &:not(:last-child){
                                margin-bottom: 8px;
                            }
                        }
                        &.form_inp_search{
                            input{
                                &:not(:last-child){
                                    margin-bottom: 0;
                                }
                            }
                        }
                        &.view2{
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-align-items: center;
                                    -webkit-box-align: center;
                                    -ms-flex-align: center;
                                    align-items: center;
                            .fomr_input_col{
                                width: calc(100% - 4px);
                                &:first-child{
                                    margin-right: 8px;
                                }
                                input{
                                    padding-left: 36px;
                                }
                            }
                            &.show{
                                
                                .form_reset_btn{
                                    display: block;    
                                }
                            }
                        }
                    }
                    .fomr_input_col{
                        position: relative;
                    }
                    .form_numb{
                        width: 24px;
                        height: 24px;
                        font-size: 11px;
                        line-height: 24px;
                        text-align: center;
                        -webkit-border-radius: 16px;
                        border-radius: 16px;
                        background-color: $soft_orange;
                        color: $white;
                        display: none;
                    }
                    .form_reset_btn{
                        position: absolute;
                        right: -12%;
                        top: 50%;
                        background: url(../images/icons/close-ikon.svg) 50% 50% no-repeat;
                        min-width: 24px;
                        height: 24px;
                        margin-top: -12px;
                        cursor: pointer;
                        display: none;
                        .filter_order_forms &{
                            right: -36px;
                        }
                    }
                    .form_checkbox{
                        div:not(.jq-checkbox):not(:last-child){
                            margin-bottom: 16px;
                        }
                        label{
                            display: -webkit-inline-box;
                            display: -webkit-inline-flex;
                            display: -ms-inline-flexbox;
                            display: inline-flex;
                            -webkit-align-items: center;
                                    -webkit-box-align: center;
                                    -ms-flex-align: center;
                                    align-items: center;
                            font-size: 13px;
                            line-height: 1.2;
                            margin-bottom: 0;
                            color: $default;
                            cursor: pointer;
                            input[type="checkbox"]{
                                width: 16px;
                                height: 16px;
                                z-index: 1 !important;
                                outline:none;
                                &:checked{
                                    + span{
                                        color: $black;
                                    }
                                }
                            }
                            .jq-checkbox{
                                &.checked{
                                    + span{
                                        color: $black;
                                    }
                                }
                            }
                        }
                    }
                    .check_color{
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        margin-right: 6px;
                        -webkit-border-radius: 50%;
                                border-radius: 50%;
                    }
                    .checkbox_more{
                        display: none;
                    }
                    .checkbox_more_btn{
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-align-items: center;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        color: $soft_orange;
                        cursor: pointer;
                        i{
                            margin-right: 11px;
                            img{
                                -webkit-transition: all ease 0.5s;
                                     -o-transition: all ease 0.5s;
                                        transition: all ease 0.5s;
                            }
                        }
                        &.active{
                            i{
                                img{
                                    -webkit-transform: rotate(45deg);
                                        -ms-transform: rotate(45deg);
                                            transform: rotate(45deg);
                                }
                            }
                        }
                    }
                    .span_color{
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-align-items: center;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                    }
                    .form_img{
                        margin-bottom: 6px;
                    }
                    .form_sub_row{
                        + hr{
                            margin-bottom: 19px;
                            margin-top: 24px;
                        }
                    }
                    .form_span_abs{
                        position: absolute;
                        left: 12px;
                        top: 50%;
                        z-index: 3;
                        color: $breadcrumbs;
                        -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                                transform: translateY(-50%);
                    }
                    .question{
                        display: inline-block;
                        margin-left: 8px;
                        width: 20px;
                        height: 20px;
                        background: $breadcrumbs url(../images/icons/question-icon.svg) 50% 50% no-repeat;
                        -webkit-border-radius: 50%;
                                border-radius: 50%;
                        cursor: pointer;
                    }

                .form_row_btn{
                    border-top: 1px solid $border;
                    padding-top: 23px;
                    margin-top: -1px;
                    background-color: $white;
                    >*{
                        &:not(:last-child){
                            margin-bottom: 15px;
                        }
                    }
                    &:not(.sticked){
                        position: static;
                    }
                    &.sticked{
                        position: fixed;
                        z-index: 60;
                        bottom: 0;
                        padding-bottom: 5px;
                        &:before,
                        &:after{
                            content: "";
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            display: block;
                            width: 13%;
                            background-color: $white;
                        }
                        &:before{
                            right: 100%;
                            width: 15px;    
                        }
                        &:after{
                            left: 100%;
                        }
                    }
                }
                
                .filter_mob_btn{
                    position: relative;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                    padding-right: 36px;
                    margin-right: 32px;
                    color: $black;
                    cursor: pointer;
                    &:after{
                        content: "";
                        position: absolute;
                        height: 40px;
                        right: 0;
                        border-right: 1px solid $border;
                    }
                    .icon_box{
                        margin-right: 8px;
                        background-color: $black;
                    }    
                }

                .sorting_box{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    padding-bottom: 36px;
                    margin-bottom: 24px;
                    border-bottom: 1px solid $border;
                    &.view2{
                        margin-bottom: 55px;
                        padding-bottom: 0;
                        border-bottom: none;
                    }

                    & + .sort_data{
                        margin-top: -9px;
                    }
                    + .figure_container{
                        margin-top: 0;
                    }
                }
                    
                    .sorting_box_item{
                        display: -webkit-inline-box;
                        display: -webkit-inline-flex;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                        -webkit-align-items: center;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                        &:not(:last-child){
                            margin-right: 24px;
                        }
                    }
                        .sorting_box_label{
                            margin-right: 12px;
                            color: $black;
                        }
                        .sorting_box_radio{
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                        }
                            .sorting_box_rad{
                                font-size: 11px;
                                line-height: 13px;
                                margin: 3px 0;
                                cursor: pointer;
                                &:not(:last-child){
                                    margin-right: 8px;
                                }
                                .jq-radio,
                                input{
                                    display: none !important;
                                    &.checked{
                                        + span{
                                            color: $white;
                                            background-color: $soft_orange;
                                        }
                                    }
                                }
                                span{
                                    padding: 5.5px 13px;
                                    background-color: $lite-grey;
                                    -webkit-border-radius: 16px;
                                    border-radius: 16px;
                                }
                            }

                .sort_data{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    margin-bottom: 7px;
                    /* margin-bottom: 31px;*/
                    color: $black;
                    + .figure_container{
                        margin-top: 0;
                    }
                }
                .sort_data_item{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: start;
                    -webkit-align-items: flex-start;
                    -ms-flex-align: start;
                    align-items: flex-start;
                    margin: 5px 0;
                    &:not(:last-child){
                        margin-right: 24px;
                    }
                    &.sort_data_color{
                        span{
                            position: relative;
                        }
                    }
                }
                .sort_data_label{
                    padding: 5.5px 0;
                    margin: 4px 9px 4px 0;
                    min-width: 65px;
                    white-space: nowrap;
                    text-align: right;
                }
                .sort_data_main{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                        -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                }
                    .sort_data_box{
                        position: relative;
                        background-color: $lite-grey;
                        margin: 4px 0;
                        padding: 5.5px 13px 5.5px 32px;
                        -webkit-border-radius: 16px;
                                border-radius: 16px;
                        cursor: pointer;
                        &:not(:last-child){
                            margin-right: 8px;
                        }
                        &:before{
                            content: "";
                            position: absolute;
                            top: 7px;
                            left: 12px;
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            background: url(../images/icons/close2-icon.svg) 50% 50% no-repeat;
                        }
                    }

                .figure_container{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                        -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                    margin-bottom: -24px;
                    margin-top: -24px;
                }
                    .figure_box{
                        position: relative;
                        color: $button;
                        width: 33.3%;
                        cursor: pointer;
                        padding: 24px 32px 52px 0;
                        margin-bottom: 24px;
                        -webkit-transition: background 0.3s ease 0.2s;
                             -o-transition: background 0.3s ease 0.2s;
                                transition: background 0.3s ease 0.2s;
                        &:hover{
                            background: url(../images/skin.png) 0 0 repeat;
                            .figure_img{
                                &:before{
                                    top: 0;
                                    left: 0;
                                }
                                &:after{
                                    right: 0;
                                }
                                a:not(.abs_link){
                                    opacity: 1;
                                    visibility: visible;
                                    -webkit-transition: all 0.3s ease 0.2s;
                                         -o-transition: all 0.3s ease 0.2s;
                                            transition: all 0.3s ease 0.2s;
                                }
                            }    
                            
                            .figure_title{
                                color: $soft_orange;
                                -webkit-transition: all 0.3s ease 0.2s;
                                     -o-transition: all 0.3s ease 0.2s;
                                        transition: all 0.3s ease 0.2s;
                                a{
                                    color: $soft_orange;
                                }
                            }
                            
                        }

                        .span_color{
                            margin-bottom: 5px;
                            font-size: 13px;
                            color: $breadcrumbs;
                        }

                        .ticket_name{
                            margin-bottom: 10px;
                            color: $soft_orange;
                        }
                        p{
                            font-size: 16px;
                            line-height: 1.5;
                        }
                    }
                        .figure_img{
                            position: relative;
                            margin-bottom: 16px;
                            width: 100%;
                            padding-bottom: 100%;
                            background-color: $lite-grey;
                            overflow: hidden;
                            img{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                width: 100%;
                                -webkit-transform: translate(-50%,-50%);
                                -ms-transform: translate(-50%,-50%);
                                transform: translate(-50%,-50%);
                            }
                            &:before,
                            &:after{
                                content: "";
                                display: block;
                                position: absolute;
                                -webkit-transition: all ease 0.3s;
                                     -o-transition: all ease 0.3s;
                                        transition: all ease 0.3s;
                            }
                            &:before{
                                top: 100%;
                                left: 100%;
                                width: 100%;
                                height: 100%;
                                z-index: 2;
                                background-color: rgba(8, 27, 41, 0.5);
                            }
                            &:after{
                                bottom: 0;
                                left: 0;
                                right: 100%;
                                z-index: 5;
                                border-bottom: 4px solid $soft_orange;
                            }

                            a:not(.abs_link){
                                position: absolute;
                                bottom: 40px;
                                left: 32px;
                                right: 32px;
                                z-index: 5;
                                opacity: 0;
                                visibility: hidden;
                                -webkit-transition: all ease 0.2s;
                                     -o-transition: all ease 0.2s;
                                        transition: all ease 0.2s;
                            }
                            a.abs_link{
                                z-index: 4;
                            }
                            .discount_flag{
                                position: absolute;
                                z-index: 4;
                                top: 0;
                                left: 0;
                            }
                        }
                        .discount_flag{
                            position: relative;
                            display: inline-block;
                            min-width: 120px;
                            min-height: 24px;
                            padding: 4px 8px;
                            font-weight: 500;
                            font-size: 11px;
                            line-height: 16px;
                            white-space: nowrap;
                            background: #E84C3D;
                            color: #FFF;
                            &:after{
                                position: absolute;
                                display: block;
                                left: 100%;
                                top: 0;
                                bottom: 0;
                                content: "";
                                border-top-width: 12px;
                                border-right-width: 7px;
                                border-bottom-width: 12px;
                                border-style: solid;
                                border-color: #E84C3D transparent #E84C3D #E84C3D;
                            }
                            span:not(:last-child){
                                margin-right: 8px;
                            }
                        }
                        .discount_time{
                            opacity: 0.5;
                        }
                        .figure_title{
                            margin-bottom: 10px;
                            line-height: 1.47;
                            font-weight: 600;
                            a{
                                -webkit-transition: none !important;
                                     -o-transition: none !important;
                                        transition: none !important;
                            }
                        }
                        .blocks{
                            font-size: 13px;
                            margin-bottom: 15px;   
                        }
                        
        /* - - - - - - - - - -/ end of filter_container - - - - - - - - - - */
        

        /* - - - - - - - - - - filter_pagination - - - - - - - - - - */
            .filter_pagination{
                padding-bottom: 152px;
                padding-top: 48px;
                background-color: $lite-grey;
                .col{
                    & + .pagination_btn{
                        padding-right: 15px;
                    }
                }
            }
                .pagination_btn{
                    display: inline-block;
                }
                .pagination_box{
                    display: inline-block;
                    margin-right: 30px;
                }
                .pagination_list{
                    display: inline-block;
                    li{
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        &.current,
                        &:hover{
                            a{
                                background-color: $white;
                            }   
                        }
                        &.dots{
                            color: $breadcrumbs;
                            text-align: center;
                            line-height: 40px;
                        }
                    }
                    a{
                        width: 40px;
                        height: 40px;
                        font-size: 13px;
                        line-height: 40px;
                        text-align: center;
                        -webkit-border-radius: 50%;
                                border-radius: 50%;
                        color: $black;
                        &:hover,
                        &.current{
                            background-color: $white;
                        }
                    }
                }
                .pagination_arr_left,
                .pagination_arr_right{
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                    -webkit-border-radius: 50%;
                            border-radius: 50%;
                    background-color: #fff;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    &:not(.d_none){
                        display: inline-block;
                    }
                }
                .pagination_arr_left{
                    margin-right: 32px;
                    background-image: url(../images/icons/arr-left-mini-black-icon.svg);
                }
                .pagination_arr_right{
                    margin-left: 32px;
                    background-image: url(../images/icons/arr-right-mini-black-icon.svg);
                }
        /* - - - - - - - - - -/ end of filter_pagination - - - - - - - - - - */
        
        /* - - - - - - - - - - about_brand_container - - - - - - - - - - */
            .about_brand_container{
                position: relative;
                padding: 37px 0;
                min-height: 296px;
                border-bottom: 1px solid $border;
                .container{
                    position: relative;
                    z-index: 2;
                }
            }
                .about_brand_img{
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    overflow: hidden;
                    max-height: 295px;
                    img{
                        max-height: 100%;
                    }
                }
                .about_brand_box{
                    font-size: 16px;
                    line-height: 1.5;   
                    color: $black;
                    
                    .about_brand_title{
                        margin-bottom: 38px;
                        text-transform: uppercase;
                    }
                }
                .about_brand_subtitle{
                    font-size: 11px;
                    line-height: 16px;
                    color: $breadcrumbs;
                    font-weight: 500;
                    text-transform: none;
                    margin-top: -28px;
                    margin-bottom: 38px;
                }
        /* - - - - - - - - - -/ end of about_brand_container - - - - - - - - - - */
        

        /* - - - - - - - - - - contact_container - - - - - - - - - - */
                .contact_info{
                    padding: 51px 0;
                    border-top: 1px solid $border;   
                    border-bottom: 1px solid $border;   
                }
                .contact_link_box{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                }
                .contact_link{
                    display: -webkit-inline-box;
                    display: -webkit-inline-flex;
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    -webkit-align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                    font-size: 24px;
                    font-weight: 800;
                    letter-spacing: 0.01em;
                    text-transform: uppercase;
                    color: $black;
                    &:hover{
                        color: $soft_orange;
                    }
                    .icon_box {
                        height: 56px;
                        min-width: 56px;
                        margin-right: 25px;
                    }
                }

                .contact_info-map{
                    font-size: 16px;
                    line-height: 1.5;
                    color: $black;
                }
                    .contact_info-box{
                        position: relative;
                        padding: 65px 0;
                        min-height: 344px;
                        overflow: hidden;
                        .container{
                            position: relative;
                        }
                        .map-box{
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            width: 50%;
                            img{
                                width: 100%;
                            }
                            &:before{
                                content: "";
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                z-index: -1;
                                right: 100%;
                                width: 288px;
                                height: 100%;
                                display: block;
                                background: url(../images/skin.png) 0 0 repeat;
                            }
                        }
                        &:last-child{
                            .map-box{
                                right: auto;
                                left: 0;
                                &:before{
                                    right: auto;
                                    left: 100%;
                                }
                            }
                        }
                    }
                        .ymap{
                            height: 100%;
                            min-height: 100%;
                            width: 100%;
                        }
        /* - - - - - - - - - -/ end of contact_container - - - - - - - - - - */
        

        /* - - - - - - - - - - default_container - - - - - - - - - - */
            .default_container{
                padding-top: 37px;
                padding-bottom: 40px;
            }
            
            .characteristic_list2{
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                -webkit-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                margin-bottom: -24px;
                li{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                    min-width: 16.666667%;
                    margin-bottom: 24px;
                }
                .icon_box{
                    background-color:$black;
                    margin-right: 8px;
                }
            }
                .characteristic_txt{
                    color: $breadcrumbs;
                    .span_color{
                        font-size: 13px;
                        
                        color: $black; 
                    }
                }
        /* - - - - - - - - - -/ end of default_container - - - - - - - - - - */
        /* - - - - - - - - - - filter_order - - - - - - - - - - */
            .filter_order{
                padding-top: 37px;
                border-top: 1px solid $border;
            }
                .filter_order_forms{
                    margin-bottom: 90px;
                    .form_row{
                        border: none;
                        padding-bottom: 0;
                    }   
                    .jq-selectbox{
                        width: 100%;
                    }
                    hr{
                        margin: 24px 15px;
                    }
                    .form_input,
                    .form_select{
                        margin-left: -10px;
                    }
                    label{
                        margin-bottom: 5px;
                        font-size: 11px;
                    }
                }
                
                .filter_order_wrapp{   
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    -webkit-flex-wrap: wrap;
                    flex-wrap: wrap;
                    width: 100%;
                }
                .table_title{
                    margin-bottom: 40px;
                    text-transform: uppercase;
                    letter-spacing: 0.02em;
                    span:first-child{
                        margin-right: 30px;
                    }
                    span:last-child{
                        font-size: 16px;
                        font-weight: 500;
                        text-transform: none;
                        vertical-align: baseline;
                    }
                }
                .filter_order_table{
                    width: 100%;
                    tbody{
                        tr{
                            &:hover{
                                td{
                                    background-color: $lite-grey;
                                }
                            }
                        }
                    }
                    tr{
                        cursor: pointer;
                    }
                    th,
                    td{
                        padding: 16px 22px;
                        text-align: left;
                        vertical-align: middle;
                        border-bottom: 1px solid $lite-grey;
                    }
                    th{
                        padding-top: 0;
                        padding-bottom: 27px;
                        font-size: 11px;
                        font-weight: 500;
                        color: $breadcrumbs;
                    }
                    td{
                        font-size: 13px;
                        color: $black;
                        -webkit-transition: all ease 0.5s;
                             -o-transition: all ease 0.5s;
                                -webkit-transition: all ease 0.5s;
                                transition: all ease 0.5s;
                    }

                    label{
                        display: inline-block;
                        margin-bottom: 0;
                        vertical-align: middle;
                        .jq-checkbox{
                            margin-right: 0;
                        }
                    }
                    .w45{
                        width: 45px;
                    }
                    .w80{
                        width: 80px;
                    }
                    .w100{
                        width: 100px;
                    }
                    .w120{
                        width: 120px;
                    }
                    .discount_flag{
                        margin-left: 8px;
                    }
                    td>div>*{
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                .reserve_sleb td{
                    color: #9098B1;
                }

                .reserve_label{
                    width: 16px;
                    position: relative;
                    span{
                        display: block;
                        position: absolute;
                        top: 0;
                        left: -24px;
                        font-size: 11px;
                        line-height: 16px;
                        color: #fff;
                        background-color: #081B29;
                        padding: 4px 8px;
                        white-space: nowrap;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);

                        &:before,&:after{
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 100%;
                            width: 0;
                            height: 0;
                            border-left: 3px solid #081B29;
                            border-right: 3px solid transparent;
                            border-top: 6px solid #081B29;
                            border-bottom: 6px solid transparent;
                        }
                        &:after{
                            top: auto;
                            bottom: 0;
                            border-top-color: transparent;
                            border-bottom-color: #081B29;
                        }
                    }
                }
                .old_price{
                    margin-right: 8px;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 16px;
                    color: #9098B1;
                    text-decoration: line-through;
                }
                .emptyText {
                    font-size: 15px;
                    text-align: center;
                    padding: 50px 15px;
                }
                .hideTr{
                    *{
                        color: transparent !important;
                        padding-top: 0 !important;
                        padding-bottom: 0 !important;
                        margin: 0 !important;
                        line-height: 0 !important;
                        font-size: 0 !important;
                        height: 0 !important;
                        -webkit-transition: all ease 0.5s  !important;
                        -o-transition: all ease 0.5s  !important;
                        transition: all ease 0.5s  !important;
                    }
                }

                    .table_img{
                        margin-left: 40px;
                        min-width: 40px;
                        height: 40px;
                        display: inline-block;
                        vertical-align: middle;
                        overflow: hidden;
                    }

                .filter_order_footer{
                    padding: 24px 0;
                    font-size: 18px;
                    font-weight: 600;
                    color: $black;
                    border-top: 1px solid $border;
                    background-color: $white;
                    .container{
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-align-items: center;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                    }
                    &.sticked {
                        position: fixed;
                        z-index: 60;
                        bottom: 0;
                    }
                    &:not(.sticked){
                        position: static;
                    }
                }
                    .filter_order_choose {
                        -webkit-flex-grow: 1;
                        -webkit-box-flex: 1;
                        -ms-flex-positive: 1;
                        flex-grow: 1;
                    }
                    .filter_order_price{
                        margin-right: 31px;
                    }
                    .filter_order_btns{
                        font-weight: 500;
                        a{
                            &:not(:last-child){
                                margin-right: 16px;
                            }
                        }
                    }

                    .block_area{
                        float: right;
                        padding-right: 22px;
                    }

                    .total_area{
                        margin-left: 15px;
                        color: #9098B1;
                        font-weight: 600;
                    }

        /* - - - - - - - - - -/ end of filter_order - - - - - - - - - - */
        
        /* - - - - - - - - - - modal - - - - - - - - - - */
            .modalFormOpen{
                .mfp-container {
                    padding: 0 8px;
                }
            }
            .modal_form_container{
                position: relative;
                margin: 40px auto;
                max-width: 448px;
                background-color: $white;
                .mfp-close{
                    opacity: 0;
                    visibility: hidden;
                }
            }
                .modal_form{
                    
                }
                    .modal_title_box{
                        padding: 27.5px 32px;
                    }
                    .modal_whats{
                        padding: 29px 32px 23px;
                        background-color: $lite-grey;
                        .ticket_name{
                            margin-bottom: 0;
                            line-height: 1.9;
                            color: $soft_orange;
                        }
                        h5{
                            line-height: 1.35;
                        }
                        span{
                            font-size: 13px;
                            line-height: 1.9;
                            font-weight: 500;
                            color: $breadcrumbs;
                        }   
                    }
                    .modal_form_wrap{
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-flex-wrap: wrap;
                            -ms-flex-wrap: wrap;
                                flex-wrap: wrap;
                        -webkit-justify-content: space-between;
                                -webkit-box-pack: justify;
                                -ms-flex-pack: justify;
                                justify-content: space-between;
                        padding: 29px 32px 0;
                        .form_row2{
                            &.full{
                                &:last-child{
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                        .attention,
                        .error_message:not(input){
                            position: absolute;
                            top: 100%;
                            left: 0;
                            margin-top: 8px;
                            font-size: 8px;
                            line-height: 12px;
                            color: $red;
                        }
                        .modal_textarea{
                            width: calc(100% + 64px);
                            margin-left: -32px;
                        }
                    .modal_text_box{
                        min-height: 136px;
                        padding: 33px 32px;
                        text-align: center;
                        font-size: 16px;
                        line-height: 24px;
                        background-color: $lite-grey;
                        color: $black;
                        border-bottom: 1px solid $white;
                        p{
                            max-width: 265px;
                            margin: 0 auto;
                        }
                    }
                    .modal_form_button{
                        background-color: $lite-grey;
                        padding: 32px 24px;
                        text-align: right;
                        &.center{
                            text-align: center;
                        }
                        .mfp-close{
                            position: static;
                            opacity: 1;
                            visibility: visible;
                            width: auto;
                            height: auto;
                            &.btn-orange{
                                color: $white;
                                &:hover{
                                    color: $soft_orange;
                                }
                            }
                            &.btn-bd-black{
                                color: $button;
                                &:hover{
                                    color: $white;
                                }
                            }
                        }
                        a{
                            margin-left: 8px;
                            margin-right: 8px;
                        }
                    }
        /* - - - - - - - - - -/ end of modal - - - - - - - - - - */
        
        /* - - - - - - - - - - basket - - - - - - - - - - */
            .basket_title{
                margin-bottom: 20px;
                text-transform: uppercase;
                letter-spacing: 0.02em;   
            }
            .basket_sub_title{
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 38px;
                >*{
                    &:not(:last-child){
                        margin-right: 20px; 
                    }
                }
            }
            .filter_order_footer.sticked.static{
                position: static;
            }
            .close_link{
                &:hover{
                    i{
                        background-image: url(../images/icons/close2-orange-icon.svg);    
                    }
                }
                span{
                    vertical-align: middle;
                    opacity: 0;
                    visibility: hidden;
                }
                i{
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    font-size: 0;
                    background: url(../images/icons/close2-icon.svg) 50% 50% no-repeat;
                    text-align: center;
                    vertical-align: middle;
                    color: #081B29;
                    cursor: pointer;
                }
            }
            .invisible_link{
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all ease 0.5s;
                     -o-transition: all ease 0.5s;
                        transition: all ease 0.5s;
            }
            .basket_table{
                tr{
                    &:hover{
                        .invisible_link{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    td{
                        &:last-child{
                            text-align: right;
                        }
                    }
                }
            }
            .filter_order_price_it2{
                font-size: 34px;
                font-weight: 800;
                line-height: 1.15;
                color: $black;
                text-transform: uppercase;
            }
            .basket_order_footer{
                padding: 39px 0;
                .filter_order_price{
                    >span{
                        vertical-align: middle;
                        &:first-child{
                            margin-right: 30px;
                        }
                    }
                }
            }
            
            .ship_pay_container{
                background-color: $lite-grey;
                padding-top: 80px;
                &:after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 64px;
                    width: 100%;
                    background: #E8EAEE;
                }
            }
                .ship_pay_box{
                    position: relative;
                    z-index: 1;
                    background-color: $white;
                }
                .ship_pay_head{
                    padding: 39px 47px;        
                    border-bottom: 1px solid $border;            
                }
                .ship_pay_wrap{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    border-bottom: 1px solid $border;       
                }
                    .ship_pay_col{
                        width: 50%;
                        padding-top: 36px;
                        padding-bottom: 40px;
                        padding-left: 48px;
                        padding-right: 56px;
                        &.flex{
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-flex-wrap: wrap;
                                -ms-flex-wrap: wrap;
                                    flex-wrap: wrap;
                            -webkit-justify-content: space-between;
                                    -webkit-box-pack: justify;
                                    -ms-flex-pack: justify;
                                    justify-content: space-between;
                        }
                        &:last-child{
                            padding-right: 40px;
                        }
                        &:not(:last-child){
                            border-right: 1px solid $border;
                        }

                        .sorting_box{
                            border-bottom: none;
                            margin-bottom: 20px;
                            padding-bottom: 0;
                        }

                        .form_radio label{
                            margin-bottom: 5px;
                        }
                    }
                .ship_pay_foot{
                    /* padding: 40px;*/
                    padding: 30px 40px;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                        -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                    -webkit-align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                    -webkit-justify-content: space-between;
                            -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                            justify-content: space-between;
                    color: $breadcrumbs;
                    p{
                        margin-right: 24px;
                        margin-bottom: 0;
                    }
                    label{
                        display: inline;
                        color: inherit;
                        font-size: inherit;
                        .jq-checkbox{
                            margin-top: -2px;
                        }
                    }
                    &>*{
                        margin-top: 10px;
                        margin-bottom: 10px !important;
                    }
                }
                .adress_pickup_title{
                    font-size: 11px;
                    font-weight: 500;
                    color: $breadcrumbs;
                }
                .adress_pickup{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-justify-content: space-between;
                            -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                            justify-content: space-between;
                        -webkit-align-items: center;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                    font-size: 13px;
                    color: $black;
                }
                .form_radio{
                    &.flex{
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-align-items: center;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                            -webkit-flex-wrap: wrap;
                                -ms-flex-wrap: wrap;
                                    flex-wrap: wrap;
                        >div{
                            &:not(:last-child){
                                margin-right: 30px;
                            }
                        }
                    }
                    label{
                        display: -webkit-inline-box;
                        display: -webkit-inline-flex;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                        -webkit-align-items: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        font-size: 13px;
                        line-height: 1.2;
                        cursor: pointer;
                        margin-bottom: 0;
                        color: $default;
                        .jq-radio{
                            &.checked{
                                + span{
                                    color: $black;
                                }
                            }
                        }
                    }
                }
        /* - - - - - - - - - -/ end of basket - - - - - - - - - - */
        