footer {
	position: relative;
	min-height: 208px;
	padding-bottom: 48px;
	background: #E8EAEE;
	
	.container>.row>.col{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: space-between;
		        -webkit-box-pack: justify;
		        -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	&.footer2{
      	padding-top: 72px;
      	min-height: inherit;          
    }
}

	.subscribe_box{
		padding: 40px 17px;
		width: -webkit-calc(100% - 30px);
		width: calc(100% - 30px);
		margin: -72px auto 72px;
		background-color: $white;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		        -webkit-box-align: center;
		        -ms-flex-align: center;
		        align-items: center;
		-webkit-justify-content: space-between;
		        -webkit-box-pack: justify;
		        -ms-flex-pack: justify;
		        justify-content: space-between;
	    -ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
		.subscribe_text{
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-align-items: center;
			        -webkit-box-align: center;
			        -ms-flex-align: center;
			        align-items: center;
			margin-right: -10px;
			.icon_box{
				height: 56px;
				min-width: 56px;
				margin-right: 25px;
			}
			h5{
				margin-bottom: 9px;
			}
		}
		.subscribe_form{
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-justify-content: flex-end;
			        -webkit-box-pack: end;
			        -ms-flex-pack: end;
			        justify-content: flex-end;
			input{
				margin-right: 24px;
				height: 40px;
				max-width: 359px;
				font-size: 13px;
			}
			button{
				width: 160px;
				max-width: 100%;
			}
		}

	.footer_lnk{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		        -webkit-box-align: center;
		        -ms-flex-align: center;
		        align-items: center;
		a{
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-align-items: center;
			        -webkit-box-align: center;
			        -ms-flex-align: center;
			        align-items: center;
			font-size: 11px;
			color: $default;
			&:not(:last-child){
				margin-right: 67px;
			}
		}
		.icon_box{
			margin-right: 8px;
			min-width: 24px;
			height: 24px;
			background-color: #9098b1;
		}
	}