extends ../pug/templates/main2
block menu
	- var page = '3';
block vars
	- var title = "Корзина";
	//- var headerClasses = ['header1'];
	- var footerClasses = ['footer2'];

//- block title
//- 	| Главная страница	


//- Content Start     ============================================ 


block content

	// Content Start     ============================================ 

	main#content

		// - - - - - - - - - - - - - breadcrumbs_container - - - - - - - - - - - - - - - - 
		.breadcrumbs_container
			.container
				ul.breadcrumbs.clearfix
					li.breadcrumbs_it(data-bread-arr!="/")
						a(href="javascript:;" title="Перейти на главную страницу")
							span.breadcrumbs_current Главная
					li.breadcrumbs_it(data-bread-arr!="/")
						span.breadcrumbs_current Корзина

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - - 
		
		// - - - - - - - - - - - - - titlebar - - - - - - - - - - - - - - - - 
		.titlebar
			.container
				h1.ttu корзина
		// - - - - - - - - - - - - - titlebar - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - default_container - - - - - - - - - - - - - - - - 
		.default_container.indent5
			.container
				.basket_wrap
					.basket_wr_item.mb80
						h3.basket_title Наименование 1
						h5.basket_sub_title
							a(href="sleb.html#block222") Блок 222
							a.grey2(href="sleb.html#podblock222-1") Подблок 222-1
							span.block_area
								span 
								|м
								sup 2
						.filter_table_wrap
							table.filter_order_table.basket_table

								thead
									tr
										th
										th №
										th Артикул
										th Д×В×Т
										th S, м
											sup 2
										th Цена за м
											sup 2
										th Стоимость
										th 
										th 
								tbody
									tr
										td
											.d_none: label: input#checkbox1(type="checkbox" checked)
											a.table_img(href="images/popup_img.jpg" data-name="Слеб 12" data-articul="10011001" data-metr="20" data-photosrc="archiv/photo.zip" data-copy-src="sleb.html?checkbox1#podblock222-1&slab10011001" data-price2="300" data-price="7 500" data-checked-id="checkbox1"): img(src="images/table_img1.jpg", alt="")
										td 12
										td 10011001
										td 222×145×30
										td.aria_item 20
										td 300 ₽
										td.table_price <span>7 500</span> ₽
										td: a.invisible_link(href="sleb.html?checkbox1#podblock222-1&slab10011001") Перейти в блок
										td: a.js-close-tr.close_link(href="javascript:;")
											span.invisible_link Удалить
											i &times;
									tr
										td
											.d_none: label: input#checkbox2(type="checkbox" checked)
											a.table_img(href="images/popup_img2.jpg" data-name="Слеб 13" data-articul="10011002" data-metr="21" data-photosrc="archiv/photo.zip" data-copy-src="sleb.html?checkbox2#podblock222-1&slab10011002" data-price2="300" data-price="7 600" data-checked-id="checkbox2"): img(src="images/table_img2.jpg", alt="")
										td 13
										td 10011002
										td 222×145×30
										td.aria_item 20
										td 300 ₽
										td.table_price <span>7 600</span> ₽
										td: a.invisible_link(href="sleb.html?checkbox2#podblock222-1&slab10011002") Перейти в блок
										td: a.js-close-tr.close_link(href="javascript:;")
											span.invisible_link Удалить
											i &times;
									tr
										td
											.d_none: label: input#checkbox3(type="checkbox" checked)
											a.table_img(href="images/popup_img3.jpg" data-name="Слеб 14" data-articul="10011003" data-metr="22" data-photosrc="archiv/photo.zip" data-copy-src="sleb.html?checkbox3#podblock222-1&slab10011003" data-price2="300" data-price="7 700" data-checked-id="checkbox3"): img(src="images/table_img3.jpg", alt="")
										td 14
										td 10011003
										td 222×145×30
										td.aria_item 20
										td 300 ₽
										td.table_price <span>7 700</span> ₽
										td: a.invisible_link(href="sleb.html?checkbox3#podblock222-1&slab10011003") Перейти в блок
										td: a.js-close-tr.close_link(href="javascript:;")
											span.invisible_link Удалить
											i &times;
									tr
										td
											.d_none: label: input#checkbox4(type="checkbox" checked)
											a.table_img(href="images/popup_img2.jpg" data-name="Слеб 15" data-articul="10011004" data-metr="23" data-photosrc="archiv/photo.zip" data-copy-src="sleb.html?checkbox4#podblock222-1&slab10011004" data-price2="300" data-price="7 800" data-checked-id="checkbox4"): img(src="images/table_img4.jpg", alt="")
										td 15
										td 10011004
										td 222×145×30
										td.aria_item 20
										td 300 ₽
										td.table_price <span>7 800</span> ₽
										td: a.invisible_link(href="sleb.html?checkbox4#podblock222-1&slab10011004") Перейти в блок
										td: a.js-close-tr.close_link(href="javascript:;")
											span.invisible_link Удалить
											i &times;

					.basket_wr_item.mb65
						h3.basket_title Наименование 1
						h5.basket_sub_title
							a(href="sleb.html#block222") Блок 222
							a.grey2(href="sleb.html#podblock222-2") Подблок 222-2
							span.block_area
								span 
								|м
								sup 2
						.filter_table_wrap
							table.filter_order_table.basket_table
								thead
									tr
										th
										th №
										th Артикул
										th Д×В×Т
										th S, м
											sup 2
										th Цена за м
											sup 2
										th Стоимость
										th
										th
								tbody
									tr
										td
											.d_none: label: input#checkbox5(type="checkbox" checked)
											a.table_img(href="images/popup_img3.jpg" data-name="Слеб 16" data-articul="10011005" data-metr="24" data-photosrc="archiv/photo.zip" data-copy-src="sleb.html?checkbox5#podblock222-2&slab10011005" data-price2="300" data-price="7 900" data-checked-id="checkbox5"): img(src="images/table_img5.jpg", alt="")
										td 16
										td 10011005
										td 222×145×30
										td.aria_item 20
										td 300 ₽
										td.table_price <span>7 900</span> ₽
										td: a.invisible_link(href="sleb.html?checkbox5#podblock222-2&slab10011005") Перейти в блок
										td: a.js-close-tr.close_link(href="javascript:;")
											span.invisible_link Удалить
											i &times;
									tr
										td
											.d_none: label: input#checkbox6(type="checkbox" checked)
											a.table_img(href="images/popup_img.jpg" data-name="Слеб 17" data-articul="10011006" data-metr="25" data-photosrc="archiv/photo.zip" data-copy-src="sleb.html?checkbox6#podblock222-2&slab10011006" data-price2="300" data-price="8 000" data-checked-id="checkbox6"): img(src="images/table_img1.jpg", alt="")
										td 17
										td 10011006
										td 222×145×30
										td.aria_item 20
										td 300 ₽
										td.table_price <span>8 000</span> ₽
										td: a.invisible_link(href="sleb.html?checkbox6#podblock222-2&slab10011006") Перейти в блок
										td: a.js-close-tr.close_link(href="javascript:;")
											span.invisible_link Удалить
											i &times;
							
			
			.filter_order_footer.basket_order_footer.static
				.container
					.filter_order_choose <span class="filter_order_choose_v hide_991">Выбрано</span> <span class="filter_order_choose_it">6</span> <span class="filter_order_choose_txt">слебов</span> <span class="total_area"><span></span>м<sup>2</sup></span>
					.filter_order_price <span class="hide_991">Итого к оплате:</span> <span class="filter_order_price_it2"> <span class="filter_order_price_it">42 000</span><span>₽</span></span>

		// - - - - - - - - - - - - - End of default_container - - - - - - - - - - - - - - - - 
		
		// - - - - - - - - - - - - - ship_pay_container - - - - - - - - - - - - - - - - 
		.ship_pay_container
			.container
				.ship_pay_box
					.ship_pay_head
						h3.ttu Доставка и оплата
					form.ship_pay_form.js-validate
						.ship_pay_wrap
							.ship_pay_col.flex
								.form_row2.full
									label.label2 Ваше имя
									input(type="text" name="val_name")
								.form_row2
									label.label2 Телефон
									input(type="tel" placeholder="+7 (         )" name="val_tel")
									//- p.attention Обязательно сообщите номер
								.form_row2
									label.label2 Адрес эл. почты
									input(type="text" name="val_email")
									//- p.attention Обязательно сообщите адрес

							.ship_pay_col
								.sorting_box
									.sorting_box_item
										.sorting_box_radio
											label.sorting_box_rad
												input(type="radio" name="ship_pay" checked)
												span Самовывоз
											label.sorting_box_rad
												input(type="radio" name="ship_pay")
												span Адрес доставки
								.ship_pay_block
									.ship_pay_block_it
										.adress_pickup_box
											h6.adress_pickup_title Забрать заказ вы можете по адресу
											p.adress_pickup
												span Москва, ул. Нижняя Сыромятническая 5/7, строение 9
												a.link-orange.fz11(href="javascript:;") На карте
									//- .ship_pay_block_it
									//- 	.adress_pickup_box
									//- 		h6.adress_pickup_title Забрать заказ вы можете по адресу
									//- 		p.adress_pickup
									//- 			span Москва, ул. Нижняя Сыромятническая 5/7, строение 9
									//- 			a.link-orange.fz11(href="javascript:;") На карте
								hr
								.form_radio.flex
									div
										label
											input(type="radio" name="payment_method" checked) 
											span Оплата наличными
									div
										label
											input(type="radio" name="payment_method") 
											span На банковский счет
						.ship_pay_foot
							//- p Нажимая на кнопку, я соглашаюсь с <a class="link-orange">публичной офертой</a>
							p
								label
									input.js-check-bsk(type="checkbox")
									|Нажимая на кнопку, я соглашаюсь с
								<a class="link-orange">публичной офертой</a>
							button.js-order-btn.btn-radius.btn-l.btn-orange.btn-w2.fw500(type="submit" disabled) Заказать
		// - - - - - - - - - - - - - End of ship_pay_container - - - - - - - - - - - - - - - - 


		
	// Content End       ============================================ 

//- Content End       ============================================ 