extends ../pug/templates/main
block menu
	- var page = '3';
block vars
	- var title = "Контакты";
	//- var headerClasses = ['header1'];
	//- var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница	


//- Content Start     ============================================ 


block content

	// Content Start     ============================================ 

	main#content

		// - - - - - - - - - - - - - breadcrumbs_container - - - - - - - - - - - - - - - - 
		.breadcrumbs_container
			.container
				ul.breadcrumbs.clearfix
					li.breadcrumbs_it(data-bread-arr!="/")
						a(href="javascript:;" title="Перейти на главную страницу")
							span.breadcrumbs_current Главная
					li.breadcrumbs_it(data-bread-arr!="/")
						span.breadcrumbs_current Контакты

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - contact_container - - - - - - - - - - - - - - - - 
		.contact_container.indent3
			.container
				h1.ttu.mb30 Контакты	
			
			.contact_info
				.container
					.row.contact_link_box
						.col-xl-5.col-md-6
							a.contact_link(href="tel:74957867357")
								.icon_box: img(src="images/icons/tel-white-icon.svg", alt="")
								|+7 495 786-73-57
						.col-xl-5.col-md-6
							a.contact_link(href="mailto:mpamop@mpamop.ru")
								.icon_box: img(src="images/icons/envelope-open-icon.svg", alt="")
								|mpamop@mpamop.ru

			.contact_info-map
				.contact_info-box
					.container
						.row
							//- .col-md-4
							.col-xl-4.col-lg-5.col-md-6
								h3.mb40 Шоу-рум
								p Наш шоу-рум расположен в Центре дизайна Артплей по адресу: Москва, ул. Нижняя Сыромятническая 5/7, строение 9, этаж 1
					.map-box
						#ymap.ymap(data-src="data/1.json" data-coords="[55.7523,37.6684]")
							
				.contact_info-box
					.container
						.row
							.offset-lg-7.offset-md-6.col-xl-4.col-lg-5.col-md-6
								h3.mb40 Склад
								p Склад расположен по адресу Ярославское шоссе, д. 143
					.map-box
						#ymap2.ymap(data-src="data/2.json" data-coords="[55.8804,37.7221]")
		// - - - - - - - - - - - - - End of contact_container - - - - - - - - - - - - - - - - 

		.dummy


		
	// Content End       ============================================ 

//- Content End       ============================================ 