extends ../pug/templates/main
block menu
	- var page = '3';
block vars
	- var title = "Фильтр";
	//- var headerClasses = ['header1'];
	//- var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница	


//- Content Start     ============================================ 


block content

	// Content Start     ============================================ 

	main#content

		// - - - - - - - - - - - - - breadcrumbs_container - - - - - - - - - - - - - - - - 
		.breadcrumbs_container
			.container
				ul.breadcrumbs.clearfix
					li.breadcrumbs_it(data-bread-arr!="/")
						a(href="javascript:;" title="Перейти на главную страницу")
							span.breadcrumbs_current Главная
					li.breadcrumbs_it(data-bread-arr!="/")
						span.breadcrumbs_current Мрамор

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - about_brand_container - - - - - - - - - - - - - - - - 
		.about_brand_container
			.container
				.row
					.col-xl-7.col-lg-6
						.about_brand_box
							h1.about_brand_title.lt_sp White River
							div.about_brand_subtitle Арандис, Жупарана Арандис, Джупарана Арандис, Arandis, Arandis Gold, Arandis Yellow
							p Итальянский гранит Ривер Вайт напоминает пенные волны на глади реки Такой эффект создает оригинальная расиветка материала — светло-серый фон испещрен росчерками и вкраплениями более темных оттенков
			.about_brand_img: img(src="images/about_brand_img.jpg", alt="")
		// - - - - - - - - - - - - - End of about_brand_container - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - filter_container - - - - - - - - - - - - - - - - 
		.filter_container.indent2
			.container

				// - - - - - - - - - - - - - sorting_box - - - - - - - - - - - - - - - - 
				form.sorting_box.view2
					.js-filter-btn.filter_mob_btn.parameter.hide_992
						.icon_box: img(src="images/icons/filter-icon.svg" alt="")
						span Фильтр
					.sorting_box_item
						.sorting_box_label Цена:
						.sorting_box_radio
							label.sorting_box_rad
								input(type="radio" name="filprice" checked)
								span По убыванию
							label.sorting_box_rad
								input(type="radio" name="filprice")
								span По возрастанию
					.sorting_box_item
						.sorting_box_label Площадь:
						.sorting_box_radio
							label.sorting_box_rad
								input(type="radio" name="square" checked)
								span По убыванию
							label.sorting_box_rad
								input(type="radio" name="square")
								span По возрастанию
				// - - - - - - - - - - - - - End of sorting_box - - - - - - - - - - - - - - - -

				.row
					.col-lg-3

						aside.filter_aside
							h5.mb40.fw600.hide_992 Фильтры
							.js-filter-close.close-mob.hide_992 &times;
							form.filter_form
								.form_row
									.form_title: h5.fw600 Площадь, м<sup>2</sup>
									.form_input
										input(type="text" placeholder="от")
										input(type="text" placeholder="до")
								.form_row
									.form_title: h5.fw600 Цена за м<sup>2</sup>
									.form_input
										input(type="text" placeholder="от")
										input(type="text" placeholder="до")
									.form_select
										select
											option(value="&#8381;") &#8381;
											option(value="&#8364;") &#8364;
											option(value="&#36;") &#36;
								.form_row
									.form_title
										h5.fw600 Размер в блоке
									.form_img: img(src="images/size-img.svg", alt="")
									.form_sub_row
										label.form_label Высота, мм
										.form_input.view2
											.fomr_input_col
												span.form_span_abs от
												input(type="text")
											.fomr_input_col
												span.form_span_abs до
												input(type="text")
											.form_reset_btn.js-reset-btn
									hr
									.form_sub_row
										label.form_label Длина, мм
										.form_input.view2
											.fomr_input_col
												span.form_span_abs от
												input(type="text")
											.fomr_input_col
												span.form_span_abs до
												input(type="text")
											.form_reset_btn.js-reset-btn
									hr
									.form_sub_row
										label.form_label Толщина, мм
										.form_input.view2
											.fomr_input_col
												span.form_span_abs от
												input(type="text")
											.fomr_input_col
												span.form_span_abs до
												input(type="text")
											.form_reset_btn.js-reset-btn
								.form_row
									.form_title
										h5.fw600 Обработка
										.form_numb 1
										.form_reset_btn.js-reset-btn
									.form_checkbox#obrabotka_check(data-name="Обработка")
										div
											label
												input#obrabotka_1(data-name="Полировка" type="checkbox") 
												span Полировка
										div
											label
												input#obrabotka_2(data-name="Матовый(лощение)" type="checkbox") 
												span Матовый(лощение)
										div
											label
												input#obrabotka_3(data-name="Состаренная" type="checkbox") 
												span Состаренная
										div
											label
												input#obrabotka_4(data-name="Термообработанный" type="checkbox") 
												span Термообработанный
										div
											label
												input#obrabotka_5(data-name="Пиленый " type="checkbox") 
												span Пиленый 
										div
											label
												input#obrabotka_6(data-name="Природный скол" type="checkbox") 
												span Природный скол
								.form_row_btn
									div: button.btn-radius.btn-full.btn-m.btn-bd-black Показать 589 вариантов
									div: button.link-orange.link-uppercase.link-spacing.link-full.link-m(type="reset") очистить все

					.col-lg-9

						// - - - - - - - - - - - - - figure_container - - - - - - - - - - - - - - - - 
						.figure_container
							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure5.jpg", alt="")
									a.btn-radius.btn-m.btn-bd-white(href="javascript:;") Быстрый заказ
								figcaption
									.ticket_name мрамор
									h4.figure_title: a(href="javascript:;") White River
									.blocks Блок 223
									span.span_color
										i.check_color(style="background-color:#9C7857;")
										|Бежевый
									p 780 ₽/м<sup>2</sup>  — 890 ₽/м <sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure6.jpg", alt="")
									a.btn-radius.btn-m.btn-bd-white(href="javascript:;") Быстрый заказ
								figcaption
									.ticket_name мрамор
									h4.figure_title: a(href="javascript:;") White River
									.blocks Блок 223
									span.span_color
										i.check_color(style="background-color:#000;")
										|Черный
									p  890 ₽/м<sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure7.jpg", alt="")
									a.btn-radius.btn-m.btn-bd-white(href="javascript:;") Быстрый заказ
								figcaption
									.ticket_name мрамор
									h4.figure_title: a(href="javascript:;") White River
									.blocks Блок 223
									span.span_color
										i.check_color(style="background-color:#000;")
										|Черный
									p 780 ₽/м<sup>2</sup>  — 890 ₽/м <sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure8.jpg", alt="")
									a.btn-radius.btn-m.btn-bd-white(href="javascript:;") Быстрый заказ
								figcaption
									.ticket_name мрамор
									h4.figure_title: a(href="javascript:;") White River
									.blocks Блок 223
									span.span_color
										i.check_color(style="background-color:#fff;border: 2px solid #E8EAEE;")
										|Белый
									p 880 ₽/м<sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure5.jpg", alt="")
									a.btn-radius.btn-m.btn-bd-white(href="javascript:;") Быстрый заказ
								figcaption
									.ticket_name мрамор
									h4.figure_title: a(href="javascript:;") White River
									.blocks Блок 223
									span.span_color
										i.check_color(style="background-color:#9C7857;")
										|Бежевый
									p 780 ₽/м<sup>2</sup>  — 890 ₽/м <sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure6.jpg", alt="")
									a.btn-radius.btn-m.btn-bd-white(href="javascript:;") Быстрый заказ
								figcaption
									.ticket_name мрамор
									h4.figure_title: a(href="javascript:;") White River
									.blocks Блок 223
									span.span_color
										i.check_color(style="background-color:#000;")
										|Черный
									p  890 ₽/м<sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure8.jpg", alt="")
									a.btn-radius.btn-m.btn-bd-white(href="javascript:;") Быстрый заказ
								figcaption
									.ticket_name мрамор
									h4.figure_title: a(href="javascript:;") White River
									.blocks Блок 223
									span.span_color
										i.check_color(style="background-color:#fff;border: 2px solid #E8EAEE;")
										|Белый
									p 880 ₽/м<sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure5.jpg", alt="")
									a.btn-radius.btn-m.btn-bd-white(href="javascript:;") Быстрый заказ
								figcaption
									.ticket_name мрамор
									h4.figure_title: a(href="javascript:;") White River
									.blocks Блок 223
									span.span_color
										i.check_color(style="background-color:#9C7857;")
										|Бежевый
									p 780 ₽/м<sup>2</sup>  — 890 ₽/м <sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure6.jpg", alt="")
									a.btn-radius.btn-m.btn-bd-white(href="javascript:;") Быстрый заказ
								figcaption
									.ticket_name мрамор
									h4.figure_title: a(href="javascript:;") White River
									.blocks Блок 223
									span.span_color
										i.check_color(style="background-color:#000;")
										|Черный
									p  890 ₽/м<sup>2</sup> × 17м<sup>2</sup>

						// - - - - - - - - - - - - - End of figure_container - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - End of filter_container - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - filter_pagination - - - - - - - - - - - - - - - - 
		.filter_pagination
			.container
				.row
					.col
						.pagination_box
							.pagination_arr_left.d_none
							ul.pagination_list
								li: a.current(href="javascript:;") 1
								li: a(href="javascript:;") 2
								li: a(href="javascript:;") 3
								li.hide_991: a(href="javascript:;") 4
								li.dots . . .
								li: a(href="javascript:;") 18
							.pagination_arr_right

						.pagination_btn
							a.btn-icon-left.btn-radius.btn-l.btn-bd-black(href="javascript:;") 
								span Показать еще
									img(src="images/icons/plus-black-icon.svg", alt="")
									img.d_n(src="images/icons/plus-white-icon.svg", alt="")
						
					.pagination_btn
						a.btn-radius.btn-l.btn-bd-black(href="javascript:;") Показать все
		// - - - - - - - - - - - - - End of filter_pagination - - - - - - - - - - - - - - - - 


		
	// Content End       ============================================ 

//- Content End       ============================================ 