extends ../pug/templates/main
block menu
	- var page = '3';
block vars
	- var title = "Фильтр";
	//- var headerClasses = ['header1'];
	//- var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница	


//- Content Start     ============================================ 


block content

	// Content Start     ============================================ 

	main#content

		// - - - - - - - - - - - - - breadcrumbs_container - - - - - - - - - - - - - - - - 
		.breadcrumbs_container
			.container
				ul.breadcrumbs.clearfix
					li.breadcrumbs_it(data-bread-arr!="/")
						a(href="javascript:;" title="Перейти на главную страницу")
							span.breadcrumbs_current Главная
					li.breadcrumbs_it(data-bread-arr!="/")
						span.breadcrumbs_current Мрамор

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - filter_container - - - - - - - - - - - - - - - - 
		.filter_container.indent2
			.container
				h1.mb55 МРАМОР
				.row
					.col-lg-3

						aside.filter_aside
							h5.mb40.fw600.hide_992 Фильтры
							.js-filter-close.close-mob.hide_992 &times;
							form.filter_form
								.form_row
									.form_input.form_inp_search
										input.autocomplete(type="text" placeholder="Поиск по наименованию")
										button.btn_search: img(src="images/icons/search-icon.svg", alt="")
								.form_row
									.form_title: h5.fw600 Площадь, м<sup>2</sup>
									.form_input
										input(type="text" placeholder="от")
										input(type="text" placeholder="до")
								.form_row
									.form_title: h5.fw600 Цена за м<sup>2</sup>
									.form_input
										input(type="text" placeholder="от")
										input(type="text" placeholder="до")
									.form_select
										select
											option(value="&#8381;") &#8381;
											option(value="&#8364;") &#8364;
											option(value="&#36;") &#36;
								.form_row
									.form_title
										h5.fw600 Тип камня
										.form_numb 
										.form_reset_btn.js-reset-btn
									.form_checkbox#type_check(data-name="Тип камня")
										div
											label
												input#type_all.filmain_check(type="checkbox") 
												span Все типы
										hr
										div
											label
												input#type_1(data-name="Мрамор" type="checkbox") 
												span Мрамор
										div
											label
												input#type_2(data-name="Гранит" type="checkbox") 
												span Гранит
										div
											label
												input#type_3(data-name="Травертин" type="checkbox") 
												span Травертин
										div
											label
												input#type_4(data-name="Оникс" type="checkbox") 
												span Оникс
										div
											label
												input#type_5(data-name="Известняк" type="checkbox") 
												span Известняк
										div
											label
												input#type_6(data-name="Сланец" type="checkbox") 
												span Сланец
										div
											label
												input#type_7(data-name="Кварцит" type="checkbox") 
												span Кварцит

										.checkbox_more
											div
												label
													input#type_8(data-name="Оникс" type="checkbox") 
													span Оникс
											div
												label
													input#type_9(data-name="Известняк" type="checkbox") 
													span Известняк
											div
												label
													input#type_10(data-name="Сланец" type="checkbox") 
													span Сланец
											div
												label
													input#type_11(data-name="Кварцит" type="checkbox") 
													span Кварцит
										.js-checkbox-more.checkbox_more_btn
											i: img(src="images/icons/plus-icon.svg", alt="") 
											span ЕЩЕ
								.form_row
									.form_title
										h5.fw600 
											|Цвет
											i.question 
										.form_numb 
										.form_reset_btn.js-reset-btn
									.form_checkbox#color_check(data-name="Цвет")
										div
											label
												input#color_all.filmain_check(type="checkbox") 
												span.span_color Все цвета
										hr
										div
											label
												input#color_1(data-name="Желтый" type="checkbox") 
												span.span_color
													i.check_color(style="background-color:#FFD600;")
													|Желтый
										div
											label
												input#color_2(data-name="Черный" type="checkbox") 
												span.span_color
													i.check_color(style="background-color:#000;")
													|Черный
										div
											label
												input#color_3(data-name="Коричневый" type="checkbox") 
												span.span_color
													i.check_color(style="background-color:#774017;")
													|Коричневый
										div
											label
												input#color_4(data-name="Белый" type="checkbox") 
												span.span_color
													i.check_color(style="background-color:#fff;border: 2px solid #E8EAEE;")
													|Белый
										div
											label
												input#color_5(data-name="Зеленый" type="checkbox") 
												span.span_color
													i.check_color(style="background-color:#48CE27;")
													|Зеленый
										div
											label
												input#color_6(data-name="Красный" type="checkbox") 
												span.span_color
													i.check_color(style="background-color:#E84C3D;")
													|Красный
										div
											label
												input#color_7(data-name="Бежевый" type="checkbox") 
												span.span_color
													i.check_color(style="background-color:#9C7857;")
													|Бежевый

										.checkbox_more
											div
												label
													input#color_8(data-name="Желтый" type="checkbox") 
													span.span_color
														i.check_color(style="background-color:#FFD600;")
														|Желтый
											div
												label
													input#color_9(data-name="Черный" type="checkbox") 
													span.span_color
														i.check_color(style="background-color:#000;")
														|Черный
											div
												label
													input#color_10(data-name="Коричневый" type="checkbox") 
													span.span_color
														i.check_color(style="background-color:#774017;")
														|Коричневый
											div
												label
													input#color_11(data-name="Белый" type="checkbox") 
													span.span_color
														i.check_color(style="background-color:#fff;border: 2px solid #E8EAEE;")
														|Белый
										.js-checkbox-more.checkbox_more_btn
											i: img(src="images/icons/plus-icon.svg", alt="") 
											span ЕЩЕ		
								.form_row
									.form_title
										h5.fw600 Размер в блоке
									.form_img: img(src="images/size-img.svg", alt="")
									.form_sub_row
										label.form_label Высота, мм
										.form_input.view2
											.fomr_input_col
												span.form_span_abs от
												input(type="text")
											.fomr_input_col
												span.form_span_abs до
												input(type="text")
											.form_reset_btn.js-reset-btn
									hr
									.form_sub_row
										label.form_label Длина, мм
										.form_input.view2
											.fomr_input_col
												span.form_span_abs от
												input(type="text")
											.fomr_input_col
												span.form_span_abs до
												input(type="text")
											.form_reset_btn.js-reset-btn
									hr
									.form_sub_row
										label.form_label Толщина, мм
										.form_input.view2
											.fomr_input_col
												span.form_span_abs от
												input(type="text")
											.fomr_input_col
												span.form_span_abs до
												input(type="text")
											.form_reset_btn.js-reset-btn
								.form_row
									.form_title
										h5.fw600 Обработка
										.form_numb 
										.form_reset_btn.js-reset-btn
									.form_checkbox#obrabotka_check(data-name="Обработка")
										div
											label
												input#obrabotka_1(data-name="Полировка" type="checkbox") 
												span Полировка
										div
											label
												input#obrabotka_2(data-name="Матовый(лощение)" type="checkbox") 
												span Матовый(лощение)
										div
											label
												input#obrabotka_3(data-name="Состаренная" type="checkbox") 
												span Состаренная
										div
											label
												input#obrabotka_4(data-name="Термообработанный" type="checkbox") 
												span Термообработанный
										div
											label
												input#obrabotka_5(data-name="Пиленый" type="checkbox") 
												span Пиленый 
										div
											label
												input#obrabotka_6(data-name="Природный скол" type="checkbox") 
												span Природный скол
								.form_row_btn
									div: button.is-load-btn.btn-radius.btn-full.btn-m.btn-bd-black(data-load-text="Показать...") Показать 589 вариантов
									div: button.link-orange.link-uppercase.link-spacing.link-full.link-m(type="reset") очистить все

					.col-lg-9

						// - - - - - - - - - - - - - sorting_box - - - - - - - - - - - - - - - - 
						form.sorting_box
							.js-filter-btn.filter_mob_btn.hide_992
								.icon_box: img(src="images/icons/filter-icon.svg" alt="")
								span Фильтр
							.sorting_box_item
								.sorting_box_label Цена:
								.sorting_box_radio
									label.sorting_box_rad
										input(type="radio" name="filprice" checked)
										span По убыванию
									label.sorting_box_rad
										input(type="radio" name="filprice")
										span По возрастанию
							.sorting_box_item
								.sorting_box_label Название:
								.sorting_box_radio
									label.sorting_box_rad
										input(type="radio" name="filname" checked)
										span А — Я
									label.sorting_box_rad
										input(type="radio" name="filname")
										span Я — А
						// - - - - - - - - - - - - - End of sorting_box - - - - - - - - - - - - - - - -

						// - - - - - - - - - - - - - sorting_box - - - - - - - - - - - - - - - - 
						.sort_data
							//- .sort_data_item
							//- 	.sort_data_label Тип камня:
							//- 	.sort_data_main
							//- 		.sort_data_box: span Мрамор
							//- 		.sort_data_box: span Кварцит

							//- .sort_data_item
							//- 	.sort_data_label Цвет:
							//- 	.sort_data_main
							//- 		.sort_data_box
							//- 			span.span_color
							//- 				i.check_color(style="background-color:#FFD600;")
							//- 				|Желтый
							//- 		.sort_data_box
							//- 			span.span_color
							//- 				i.check_color(style="background-color:#000;")
							//- 				|Черный
							//- 		.sort_data_box
							//- 			span.span_color
							//- 				i.check_color(style="background-color:#774017;")
							//- 				|Коричневый
						// - - - - - - - - - - - - - End of sorting_box - - - - - - - - - - - - - - - - 

						// - - - - - - - - - - - - - figure_container - - - - - - - - - - - - - - - - 
						.figure_container
							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									.discount_flag
										span -<span>10</span>%
										span.discount_time до
											time(datetime="2019-04-15") 15.04.2019
									img(src="images/figure1.jpg", alt="")
									a.js-modal.btn-radius.btn-m.btn-bd-white(href="#modal_form") Быстрый заказ
								figcaption
									.ticket_name: a(href="javascript:;") мрамор
									h4.figure_title: a(href="javascript:;") DinoFiona Beige
									span.span_color
										//- i.check_color(style="background-color:#9C7857;")
										|Бежевый
									p 780 ₽/м<sup>2</sup>  — 890 ₽/м <sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure2.jpg", alt="")
									a.js-modal.btn-radius.btn-m.btn-bd-white(href="#modal_form") Быстрый заказ
								figcaption
									.ticket_name: a(href="javascript:;") мрамор
									h4.figure_title: a(href="javascript:;") Toros BlackNero Marquina
									span.span_color
										//- i.check_color(style="background-color:#000;")
										|Черный
									p  890 ₽/м<sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure3.jpg", alt="")
									a.js-modal.btn-radius.btn-m.btn-bd-white(href="#modal_form") Быстрый заказ
								figcaption
									.ticket_name: a(href="javascript:;") мрамор
									h4.figure_title: a(href="javascript:;") Antalya Black slabs
									span.span_color
										//- i.check_color(style="background-color:#000;")
										|Черный
									p 780 ₽/м<sup>2</sup>  — 890 ₽/м <sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure4.jpg", alt="")
									a.js-modal.btn-radius.btn-m.btn-bd-white(href="#modal_form") Быстрый заказ
								figcaption
									.ticket_name: a(href="javascript:;") мрамор
									h4.figure_title: a(href="javascript:;") Arabescato Corchia
									span.span_color
										//- i.check_color(style="background-color:#fff;border: 2px solid #E8EAEE;")
										|Белый
									p 880 ₽/м<sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure1.jpg", alt="")
									a.js-modal.btn-radius.btn-m.btn-bd-white(href="#modal_form") Быстрый заказ
								figcaption
									.ticket_name: a(href="javascript:;") мрамор
									h4.figure_title: a(href="javascript:;") DinoFiona Beige
									span.span_color
										//- i.check_color(style="background-color:#9C7857;")
										|Бежевый
									p 780 ₽/м<sup>2</sup>  — 890 ₽/м <sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure2.jpg", alt="")
									a.js-modal.btn-radius.btn-m.btn-bd-white(href="#modal_form") Быстрый заказ
								figcaption
									.ticket_name: a(href="javascript:;") мрамор
									h4.figure_title: a(href="javascript:;") Toros BlackNero Marquina
									span.span_color
										//- i.check_color(style="background-color:#000;")
										|Черный
									p  890 ₽/м<sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure3.jpg", alt="")
									a.js-modal.btn-radius.btn-m.btn-bd-white(href="#modal_form") Быстрый заказ
								figcaption
									.ticket_name: a(href="javascript:;") мрамор
									h4.figure_title: a(href="javascript:;") Antalya Black slabs
									span.span_color
										//- i.check_color(style="background-color:#000;")
										|Черный
									p 780 ₽/м<sup>2</sup>  — 890 ₽/м <sup>2</sup> × 17м<sup>2</sup>
									
							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure4.jpg", alt="")
									a.js-modal.btn-radius.btn-m.btn-bd-white(href="#modal_form") Быстрый заказ
								figcaption
									.ticket_name: a(href="javascript:;") мрамор
									h4.figure_title: a(href="javascript:;") Arabescato Corchia
									span.span_color
										//- i.check_color(style="background-color:#fff;border: 2px solid #E8EAEE;")
										|Белый
									p 880 ₽/м<sup>2</sup> × 17м<sup>2</sup>
							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure1.jpg", alt="")
									a.js-modal.btn-radius.btn-m.btn-bd-white(href="#modal_form") Быстрый заказ
								figcaption
									.ticket_name: a(href="javascript:;") мрамор
									h4.figure_title: a(href="javascript:;") DinoFiona Beige
									span.span_color
										//- i.check_color(style="background-color:#9C7857;")
										|Бежевый
									p 780 ₽/м<sup>2</sup>  — 890 ₽/м <sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure2.jpg", alt="")
									a.js-modal.btn-radius.btn-m.btn-bd-white(href="#modal_form") Быстрый заказ
								figcaption
									.ticket_name: a(href="javascript:;") мрамор
									h4.figure_title: a(href="javascript:;") Toros BlackNero Marquina
									span.span_color
										//- i.check_color(style="background-color:#000;")
										|Черный
									p  890 ₽/м<sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure3.jpg", alt="")
									a.js-modal.btn-radius.btn-m.btn-bd-white(href="#modal_form") Быстрый заказ
								figcaption
									.ticket_name: a(href="javascript:;") мрамор
									h4.figure_title: a(href="javascript:;") Antalya Black slabs
									span.span_color
										//- i.check_color(style="background-color:#000;")
										|Черный
									p 780 ₽/м<sup>2</sup>  — 890 ₽/м <sup>2</sup> × 17м<sup>2</sup>
									
							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure4.jpg", alt="")
									a.js-modal.btn-radius.btn-m.btn-bd-white(href="#modal_form") Быстрый заказ
								figcaption
									.ticket_name: a(href="javascript:;") мрамор
									h4.figure_title: a(href="javascript:;") Arabescato Corchia
									span.span_color
										//- i.check_color(style="background-color:#fff;border: 2px solid #E8EAEE;")
										|Белый
									p 880 ₽/м<sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure1.jpg", alt="")
									a.js-modal.btn-radius.btn-m.btn-bd-white(href="#modal_form") Быстрый заказ
								figcaption
									.ticket_name: a(href="javascript:;") мрамор
									h4.figure_title: a(href="javascript:;") DinoFiona Beige
									span.span_color
										//- i.check_color(style="background-color:#9C7857;")
										|Бежевый
									p 780 ₽/м<sup>2</sup>  — 890 ₽/м <sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure2.jpg", alt="")
									a.js-modal.btn-radius.btn-m.btn-bd-white(href="#modal_form") Быстрый заказ
								figcaption
									.ticket_name: a(href="javascript:;") мрамор
									h4.figure_title: a(href="javascript:;") Toros BlackNero Marquina
									span.span_color
										//- i.check_color(style="background-color:#000;")
										|Черный
									p  890 ₽/м<sup>2</sup> × 17м<sup>2</sup>

							figure.figure_box
								.figure_img
									a.abs_link(href="javascript:;")
									img(src="images/figure3.jpg", alt="")
									a.js-modal.btn-radius.btn-m.btn-bd-white(href="#modal_form") Быстрый заказ
								figcaption
									.ticket_name: a(href="javascript:;") мрамор
									h4.figure_title: a(href="javascript:;") Antalya Black slabs
									span.span_color
										//- i.check_color(style="background-color:#000;")
										|Черный
									p 780 ₽/м<sup>2</sup>  — 890 ₽/м <sup>2</sup> × 17м<sup>2</sup>
						// - - - - - - - - - - - - - End of figure_container - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - End of filter_container - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - filter_pagination - - - - - - - - - - - - - - - - 
		.filter_pagination
			.container
				.row
					.col
						.pagination_box
							.pagination_arr_left.d_none
							ul.pagination_list
								li: a.current(href="javascript:;") 1
								li: a(href="javascript:;") 2
								li: a(href="javascript:;") 3
								li.hide_991: a(href="javascript:;") 4
								li.dots . . .
								li: a(href="javascript:;") 18
							.pagination_arr_right

						.pagination_btn
							a.btn-icon-left.btn-radius.btn-l.btn-bd-black(href="javascript:;") 
								span Показать еще
									img(src="images/icons/plus-black-icon.svg", alt="")
									img.d_n(src="images/icons/plus-white-icon.svg", alt="")
						
					.pagination_btn
						a.btn-radius.btn-l.btn-bd-black(href="javascript:;") Показать все
		// - - - - - - - - - - - - - End of filter_pagination - - - - - - - - - - - - - - - - 


		
	// Content End       ============================================ 

//- Content End       ============================================ 