extends ../pug/templates/main
block menu
	- var page = '3';
block vars
	- var title = "Главная страница";
	//- var headerClasses = ['header1'];
	//- var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница	


//- Content Start     ============================================ 


block content

	// Content Start     ============================================ 

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - - 
		.first_screen
			.first_screen_img(style="background-image: url(images/Rectangle.jpg);")
			.container
				.row.align-items-end
					.col-md-6
						.first_screen_text
							h1.first_title МРАМОР.РФ 
							h6.first_sub_title Онлайн-склад слебов в Москве
							a.btn-icon-right.btn-radius.btn-l.btn-bd-white(href="javascript:;") 
								span Перейти в каталог
									img(src="images/icons/arr-right-mini-icon.svg", alt="")
		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - second_screen - - - - - - - - - - - - - - - - 
		.second_screen.indent.bg_grey
			.container
				.row.no-gutters
					.col-xl-6.col-sm-6.order-0
						.tile_box
							.tile_slider
								h3.ttu: a.ttu.link-black(href="javascript:;") новинки
								.tile_nav
									.tile-prev
									.tile-next

								.js-carousel.owl-carousel
									.about_material
										a.about_material_img(href="javascript:;"): img(src="images/Rectangle 2.2.jpg", alt="")
										div.about_material_text
											a.ticket_name.link-orange(href="javascript:;") Гранит
											h6: a.link-black(href="javascript:;") Verde Eucalipte
											ul.characteristic_list
												li 
													span Цвет:
													span Зеленый
												li 
													span Добавлен: 
													span 16.12.2018

									.about_material
										a.about_material_img(href="javascript:;"): img(src="images/Rectangle 2.2.jpg", alt="")
										div.about_material_text
											a.ticket_name.link-orange(href="javascript:;") Гранит
											h6: a.link-black(href="javascript:;") Verde Eucalipte
											ul.characteristic_list
												li 
													span Цвет:
													span Зеленый
												li 
													span Добавлен: 
													span 16.12.2018
									.about_material
										a.about_material_img(href="javascript:;"): img(src="images/Rectangle 2.2.jpg", alt="")
										div.about_material_text
											a.ticket_name.link-orange(href="javascript:;") Гранит
											h6: a.link-black(href="javascript:;") Verde Eucalipte
											ul.characteristic_list
												li 
													span Цвет:
													span Зеленый
												li 
													span Добавлен: 
													span 16.12.2018

					.col-xl-6.col-lg-12.order-first
						.tile_box.negative_indent
							.tile_sub_box(style="background-image: url(images/Rectangle2.jpg);")
								a.abs_link(href="javascript:;")
								.p_rel
									.ticket_name мрамор
									h4.tile_title Lilac slab
									.tile_subtitle
										span -45
										span %
									.time до 25 декабря
								.tile-next.view2

							.tile_sub_box(style="background-image: url(images/Rectangle1.jpg);")
								a.abs_link(href="javascript:;")
								.p_rel
									.ticket_name мрамор
									h4.tile_title Caesaria Brown
									.tile_subtitle
										span -35
										span %
									.time до 7 января
								.tile-next.view2

							.tile_sub_box(style="background-image: url(images/Rectangle3.jpg);")
								a.abs_link(href="javascript:;")
								.p_rel
									.ticket_name гранит
									h4.tile_title West Wild Green
									.tile_subtitle
										span -30
										span %
									.time до 23 декабря
								.tile-next.view2

							.tile_sub_wrap
								.tile_bg_abs
								.tile_sub_box.view2(style="background-color: #CF9B42;")
									a.abs_link(href="javascript:;")
									.p_rel
										.tile_promo Акции, скидки и эксклюзивные материалы
										.tile_subtitle Спецпредложения
									.tile-next.view2
					
					.col-xl-6.col-lg-12.order-2
						.tile_box
							.tile_sub_box.view3(style="background-image: url(images/skin.png);")
								.p_rel
									.tile_logo: img(src="images/icons/partner_logo.svg", alt="")
									h5.tile_title: a.link-black(href="javascript:;") Стать поставщиком
									p.tile_subscript Приглашаем камнеобработчиков   и производителей
									a.link-orange.link-spacing.link-icon-right.link-uppercase(href="javascript:;")
										i: img(src="images/icons/arr-right-mini-orange-icon.svg", alt="")
										|Присоединиться
									

							.tile_sub_box.view3.bg_grey2(style="background-color: #e8eaee;")
								.p_rel
									.tile_logo: img(src="images/icons/benefits_logo.svg", alt="")
									h5.tile_title: a.link-black(href="javascript:;") Преимущества
									ul.tile_subscript
										li Актуальное наличие
										li Материалы разных поставщиков 
										li Качественные фотоматериалы
										li Возможность резервирования 
									a.link-orange.link-spacing.link-icon-right.link-uppercase(href="javascript:;")
										i: img(src="images/icons/arr-right-mini-orange-icon.svg", alt="")
										|Подробнее

					
					.col-xl-6.col-sm-6.order-1
						.tile_box
							.tile_slider
								h3.ttu: a.ttu.link-black(href="javascript:;") популярное
								.tile_nav
									.tile-prev
									.tile-next

								.js-carousel.owl-carousel
									.about_material
										a.about_material_img(href="javascript:;"): img(src="images/Rectangle 2.1.jpg", alt="")
										div.about_material_text
											a.ticket_name.link-orange(href="javascript:;") Мрамор
											h6: a.link-black(href="javascript:;") Lilac slab
											ul.characteristic_list
												li 
													span Цвет:
													span Белый
												li 
													span Добавлен: 
													span 16.12.2018

									.about_material
										a.about_material_img(href="javascript:;"): img(src="images/Rectangle 2.1.jpg", alt="")
										div.about_material_text
											a.ticket_name.link-orange(href="javascript:;") Мрамор
											h6: a.link-black(href="javascript:;") Lilac slab
											ul.characteristic_list
												li 
													span Цвет:
													span Белый
												li 
													span Добавлен: 
													span 16.12.2018
									.about_material
										a.about_material_img(href="javascript:;"): img(src="images/Rectangle 2.1.jpg", alt="")
										div.about_material_text
											a.ticket_name.link-orange(href="javascript:;") Мрамор
											h6: a.link-black(href="javascript:;") Lilac slab
											ul.characteristic_list
												li 
													span Цвет:
													span Белый
												li 
													span Добавлен: 
													span 16.12.2018

		// - - - - - - - - - - - - - End of second_screen - - - - - - - - - - - - - - - - 


		
	// Content End       ============================================ 

//- Content End       ============================================ 