extends ../pug/templates/main
block menu
	- var page = '3';
block vars
	- var title = "Слебы";
	//- var headerClasses = ['header1'];
	//- var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница	


//- Content Start     ============================================ 


block content

	// Content Start     ============================================ 

	main#content

		// - - - - - - - - - - - - - breadcrumbs_container - - - - - - - - - - - - - - - - 
		.breadcrumbs_container
			.container
				ul.breadcrumbs.clearfix
					li.breadcrumbs_it(data-bread-arr!="/")
						a(href="javascript:;" title="Перейти на главную страницу")
							span.breadcrumbs_current Главная
					li.breadcrumbs_it(data-bread-arr!="/")
						a(href="javascript:;" title="Перейти на главную страницу")
							span.breadcrumbs_current Гранит
					li.breadcrumbs_it(data-bread-arr!="/")
						a(href="javascript:;" title="White River")
							span.breadcrumbs_current White River
					li.breadcrumbs_it(data-bread-arr!="/")
						span.breadcrumbs_current Блок 222

		// - - - - - - - - - - - - - default_container - - - - - - - - - - - - - - - - 
		.default_container
			.container
				h1.ttu.lt_sp.mb45
					|White River
					sup#block222.grey.fw600.lt_sp0.fz18.ttn Блок 222

				ul.characteristic_list2
					li
						.icon_box: img(src="images/icons/type-icon.svg", alt="")
						.characteristic_txt
							div Тип камня
							.span_color Гранит
					li
						.icon_box: img(src="images/icons/production-icon.svg", alt="")
						.characteristic_txt
							div Производство
							.span_color Италия
					li
						.icon_box: img(src="images/icons/color-icon.svg", alt="")
						.characteristic_txt
							div Цвет
							.span_color
								i.check_color(style="background-color:#fff;border: 2px solid #E8EAEE;")
								|Белый
		// - - - - - - - - - - - - - End of default_container - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - filter_order - - - - - - - - - - - - - - - - 
		form.filter_order
			.container
				.js-parametr-btn.parametr-btn.hide_576 Параметры
				.row.filter_order_forms
					.filter_order_wrapp
						.col-xl-2.col-sm-5
							.form_row
								label.form_label Площадь, м<sup>2</sup>
								.form_input.view2
									.fomr_input_col
										span.form_span_abs от
										input(type="text")
									.fomr_input_col
										span.form_span_abs до
										input(type="text")
									.form_reset_btn.js-reset-btn
						.col-xl-2.offset-xl-1.col-sm-5.offset-sm-1
							.form_row
								label.form_label Цена за м<sup>2</sup>
								.form_input.view2
									.fomr_input_col
										span.form_span_abs от
										input(type="text")
									.fomr_input_col
										span.form_span_abs до
										input(type="text")
									.form_reset_btn.js-reset-btn

						.col-xl-2.offset-xl-1.col-sm-5
							.form_row
								label.form_label Стоимость, ₽
								.form_input.view2
									.fomr_input_col
										span.form_span_abs от
										input(type="text")
									.fomr_input_col
										span.form_span_abs до
										input(type="text")
									.form_reset_btn.js-reset-btn

						.col-xl-3.offset-xl-1.col-sm-5.offset-sm-1
							.form_row
								label.form_label Тип обработки
								.form_select
									select
										option(value="Полировка") Полировка
										option(value="Матовый(лощение)") Матовый(лощение)
										option(value="Состаренная") Состаренная
										option(value="Термообработанный") Термообработанный
										option(value="Пиленый") Пиленый 
										option(value="Природный скол") Природный скол

					hr
					
					.filter_order_wrapp
						.col-xl-2.col-sm-5
							.form_row
								label.form_label Длина, мм.
								.form_input.view2
									.fomr_input_col
										span.form_span_abs от
										input(type="text")
									.fomr_input_col
										span.form_span_abs до
										input(type="text")
									.form_reset_btn.js-reset-btn

						.col-xl-2.offset-xl-1.col-sm-5.offset-sm-1
							.form_row
								label.form_label Высота, мм.
								.form_input.view2
									.fomr_input_col
										span.form_span_abs от
										input(type="text")
									.fomr_input_col
										span.form_span_abs до
										input(type="text")
									.form_reset_btn.js-reset-btn

						.col-xl-2.offset-xl-1.col-sm-5
							.form_row
								label.form_label Толщина, мм.
								.form_input.view2
									.fomr_input_col
										span.form_span_abs от
										input(type="text")
									.fomr_input_col
										span.form_span_abs до
										input(type="text")
									.form_reset_btn.js-reset-btn

				.row
					.col
						h3.table_title
							|подблок 222-1
							span Термообработанный
						
						.filter_table_wrap.mb70
							table.filter_order_table
								thead
									tr
										th
											div.w100
												label
													.jq-checkbox.main_check(unselectable='on', style='user-select: none; display: inline-block; position: relative; overflow: hidden;')
														input.main_check(type='checkbox', style='position: absolute; z-index: -1; opacity: 0; margin: 0px; padding: 0px;')
														.jq-checkbox__div
										th: div.w80 Артикул
										th: div Примечание
										th: div.w120 Д×В×Т
										th
											div.w45
												| S, м
												sup 2
										th
											div.w100
												| Цена за м
												sup 2
										th: div.w120 Стоимость
								tbody
									tr(data-index='0')
										td
											div.w100
												label: input#checkbox1(type="checkbox")
												a.table_img(href="images/popup_img.jpg" data-name="Слеб 12" data-articul="10011001" data-proportion="2650×1520×2" data-metr="20" data-photosrc="archiv/photo.zip"  data-price2="300" data-price="7 500" data-checked-id="checkbox1"): img(src="images/table_img1.jpg", alt="")
										td: div.w80 М-10-11-8
										td: div слебы не прямоугольной формы с природной трещиноватостью
										td: div.w120 2650×1520×2
										td: div.w45 4.03
										td: div.w100 36154.8 ₽
										td.table_price
											div.w120
												span 145 703.84
												|  ₽
									tr(data-index='1')
										td
											div.w100
												label: input#checkbox2(type="checkbox")
												a.table_img(href="images/popup_img2.jpg" data-name="Слеб 13" data-articul="10011002" data-proportion="2650×1520×2" data-metr="21" data-photosrc="archiv/photo.zip" data-price2="300" data-price="7 600" data-checked-id="checkbox2"): img(src="images/table_img2.jpg", alt="")
										td: div.w80 М-10-11-9
										td: div слебы не прямоугольной формы с природной трещиноватостью
										td: div.w120 2650×1520×2
										td: div.w45 4.03
										td: div.w100 36154.8 ₽
										td.table_price
											div.w120
												span 145 703.84
												|  ₽
									tr(data-index='2')
										td
											div.w100
												label: input#checkbox3(type="checkbox")
												a.table_img(href="images/popup_img3.jpg" data-name="Слеб 14" data-articul="10011003" data-proportion="2650×1520×2" data-metr="22" data-photosrc="archiv/photo.zip"  data-price2="300" data-price="7 700" data-checked-id="checkbox3"): img(src="images/table_img3.jpg", alt="")
										td: div.w80 М-10-11-10
										td: div слебы не прямоугольной формы с природной трещиноватостью
										td: div.w120 2650×1520×2
										td: div.w45 4.03
										td: div.w100 39770.28 ₽
										td.table_price
											div.w120
												span 150 578.56
												|  ₽
									tr(data-index='3' class='reserve_sleb')
										td
											div.w100
												div.reserve_label
													span Резерв
												a.table_img(href="images/popup_img2.jpg" data-reserve="1" data-name="Слеб 15" data-articul="10011004" data-proportion="2650×1520×2" data-metr="23" data-photosrc="archiv/photo.zip"  data-price2="300" data-price="7 800" data-checked-id="checkbox4"): img(src="images/table_img4.jpg", alt="")
										td: div.w80 М-10-11-11
										td: div слебы не прямоугольной формы с природной трещиноватостью
										td: div.w120 2650×1520×2
										td: div.w45 4.03
										td: div.w100 36154.8 ₽
										td.table_price
											div.w120
												span 145 703.84
												|  ₽
						
						h3#podblock222-1.table_title
							|подблок 222-1
							span Термообработанный

						.filter_table_wrap.mb70
							table.filter_order_table
								thead
									tr
										th: div: label: input.main_check(type="checkbox")
										th: div №
										th: div Артикул
										th: div Примечание
										th: div Д×В×Т
										th: div S, м<sup>2</sup>
										th: div Цена за м<sup>2</sup>
										th: div Стоимость
								tr
									td: div
										label: input#checkbox1(type="checkbox")
										a.table_img(href="images/popup_img.jpg" data-name="Слеб 12" data-articul="10011001" data-proportion="" data-metr="20" data-photosrc="archiv/photo.zip" data-copy-src='sleb.html?checkbox1#podblock222-1&slab10011001' data-price2="300" data-price="7 500" data-old-price="8 900" data-percent="10" data-percent-time="15.04.2019" data-checked-id="checkbox1"): img(src="images/table_img1.jpg", alt="")
											
									td: div 12
									td: div 10011001
									td: div Скол по центру
									td: div 222×145×30
									td: div 20
									td
										div
											span.old_price 465 ₽
											span 300 ₽ 
											span.discount_flag
												span -<span>10</span>%
												span.discount_time до
													time(datetime="2019-04-15") 15.04.2019
									td.table_price: div <span>7 500</span> ₽
								tr
									td: div
										label: input#checkbox2(type="checkbox")
										a.table_img(href="images/popup_img2.jpg" data-name="Слеб 13" data-articul="10011002" data-proportion="222×145×30" data-metr="21" data-photosrc="archiv/photo.zip" data-copy-src="sleb.html?checkbox2#podblock222-1&slab10011002" data-price2="300" data-price="7 600" data-old-price="8 900" data-percent="10" data-percent-time="15.04.2019" data-checked-id="checkbox2"): img(src="images/table_img2.jpg", alt="")
									td: div 13
									td: div 10011002
									td: div Скол по центру
									td: div 222×145×30
									td: div 21
									td: div 300 ₽
									td.table_price: div <span>7 600</span> ₽
								tr
									td: div
										label: input#checkbox3(type="checkbox")
										a.table_img(href="images/popup_img3.jpg" data-name="Слеб 14" data-articul="10011003" data-proportion="222×145×30" data-metr="22" data-photosrc="archiv/photo.zip" data-copy-src="sleb.html?checkbox3#podblock222-1&slab10011003" data-price2="300" data-price="7 700" data-old-price="8 900" data-percent="10" data-percent-time="15.04.2019" data-checked-id="checkbox3"): img(src="images/table_img3.jpg", alt="")
									td: div 14
									td: div 10011003
									td: div Скол по центру
									td: div 222×145×30
									td: div 22
									td: div 300 ₽
									td.table_price: div <span>7 700</span> ₽
								tr
									td: div
										label: input#checkbox4(type="checkbox")
										a.table_img(href="images/popup_img2.jpg" data-name="Слеб 15" data-articul="10011004" data-proportion="222×145×30" data-metr="23" data-photosrc="archiv/photo.zip" data-copy-src="sleb.html?checkbox4#podblock222-1&slab10011004" data-price2="300" data-price="7 800" data-old-price="8 900" data-percent="10" data-percent-time="15.04.2019" data-checked-id="checkbox4"): img(src="images/table_img4.jpg", alt="")
									td: div 15
									td: div 10011004
									td: div Скол по центру
									td: div 222×145×30
									td: div 23
									td: div 300 ₽
									td.table_price: div <span>7 800</span> ₽


						h3#podblock222-2.table_title
							span подблок 222-2
							span Термообработанный
						.filter_table_wrap.mb50
							table.filter_order_table
								thead
									tr
										th
											label: input.main_check(type="checkbox")
										th №
										th Артикул
										th Примечание
										th Д×В×Т
										th S, м<sup>2</sup>
										th Цена за м<sup>2</sup>
										th Стоимость
								tr
									td
										label: input#checkbox5(type="checkbox")
										a.table_img(href="images/popup_img3.jpg" data-name="Слеб 16" data-articul="10011005" data-proportion="222×145×30" data-metr="24" data-photosrc="archiv/photo.zip" data-copy-src="sleb.html?checkbox5#podblock222-2&slab10011005" data-price2="300" data-price="7 900" data-old-price="8 900" data-percent="10" data-percent-time="15.04.2019" data-checked-id="checkbox5"): img(src="images/table_img5.jpg", alt="")
									td 16
									td 10011005
									td Скол по центру
									td 222×145×30
									td 24
									td 300 ₽
									td.table_price <span>7 900</span> ₽
								tr
									td
										label: input#checkbox6(type="checkbox")
										a.table_img(href="images/popup_img.jpg" data-name="Слеб 17" data-articul="10011006" data-proportion="222×145×30" data-metr="25" data-photosrc="archiv/photo.zip" data-copy-src="sleb.html?checkbox6#podblock222-2&slab10011006"  data-price2="300" data-price="8 000" data-old-price="8 900" data-percent="10" data-percent-time="15.04.2019" data-checked-id="checkbox6"): img(src="images/table_img1.jpg", alt="")
									td 17
									td 10011006
									td Скол по центру
									td 222×145×30
									td 25
									td 300 ₽
									td.table_price <span>8 000</span> ₽
					
			.filter_order_footer
				.container
					.filter_order_choose <span class="filter_order_choose_v hide_991">Выбрано</span> <span class="filter_order_choose_it">0</span> <span class="filter_order_choose_txt">слеба</span>
					.filter_order_price <span class="hide_991">Стоимость:</span> <span class="filter_order_price_it">0</span> ₽
					.filter_order_btns
						a.btn-radius.btn-l.btn-orange(href="basket.html") Перейти в корзину
						a.js-modal.btn-radius.btn-l.btn-bd-black(href="#modal_form") Быстрый заказ
		// - - - - - - - - - - - - - End of filter_order - - - - - - - - - - - - - - - - 

		.dummy
		
	// Content End       ============================================ 

//- Content End       ============================================ 