@import "lib/_colors";
/*  <!-- RESPONSIVE
============================================ --> */
/* здесь мы пишем медиа запросы */

/* width start */
$w1630: 1630px;
$w1200: 1200px;
$w992: 992px;
$w768: 768px;
$w576: 576px;
$w480: 480px;
/* width end */


/* =============================================================================*/
    

/* <!-- minw start
	============================================ --> */

	@media only screen and (min-width:$w480){
		.hide_480{display: none;}
	}/* <!-- min-width: #{$w480} --> */
	
	@media only screen and (min-width:$w576){
		.hide_576{display: none;}
		.filter_order_forms{
			display: -webkit-box !important;
			display: -webkit-flex !important;
			display: -ms-flexbox !important;
			display: flex !important;
		}
	}/* <!-- min-width: #{$w576} --> */

	@media only screen and (min-width:$w768){
		.hide_768{display: none;}
	}/* <!-- min-width: #{$w768} --> */
	
	@media only screen and (min-width:$w992){
		.hide_992{display: none;}
	}/* <!-- min-width: #{$w992} --> */

	@media only screen and (min-width:$w1200){
		.hide_1200{display: none;}
		.second_screen{
			.container > .row > [class*="col-"]{
				-webkit-box-ordinal-group: inherit;
				-webkit-order: inherit;
				-ms-flex-order: inherit;
				order: inherit;
			}
		}
	}/* <!-- min-width: #{$w1200} --> */
	
	@media only screen and (min-width:$w1630){
		.hide_1630{display: none;}
	}/* <!-- min-width: #{$w1630} --> */


/* <!-- minw end 
	============================================ --> */


/* <!-- maxw start
	============================================ --> */
	
	@media only screen and (max-width: 1449px) and (min-width: $w1200){
		.filter_order_forms{
			.col-xl-2 {
			    -webkit-box-flex: 0;
			    -webkit-flex: 0 0 22.666667%;
			    -ms-flex: 0 0 22.666667%;
			    flex: 0 0 22.666667%;
    			max-width: 22.666667%;
			}
			.offset-xl-1 {
			    margin-left: 2.333333%;
			}
		}
		.mfp-bottom-bar {
		    padding: 0 50px 40px;
		}
	}/* <!-- max-width: #{1449px} min-width: #{$w1200} --> */
	@media only screen and (max-width:$w1630 - 1px){
		.hide_1629{display: none;}
		.filter_form {
		    padding-right: 13%;
		    margin-right: 2%;
		}
	}/* <!-- max-width: #{$w1630 - 1px} --> */

	@media only screen and (max-width:$w1200 - 1px){
		.hide_1199{display: none;}
		.logo > a, 
		.logo > span{
			font-size: 19px;	
		}
		.tel_link{
			margin-right: 12px;
		}
		.negative_indent{
			margin-top: 0;
		}
		.first_screen{
			min-height: 400px;
		}
		.footer_lnk a:not(:last-child) {
		    margin-right: 15px;
		}
		.contact_info {
	    	padding: 34px 0;
	    }
		.contact_link{
			font-size: 22px;
			font-weight: 600;
			.icon_box{
				display: none;
			}
		}
		.filter_form .form_input, 
		.filter_form .form_select{
			margin-left: 0;
		}
		.form_reset_btn {
			right: -14%;
		}
		.menu_link{
			padding-bottom: 5px;
		}
		.filter_order_forms{
			.filter_order_wrapp{
				>[class*="col"]{
					&:not(:nth-last-child(1)):not(:nth-last-child(2)){
						margin-bottom: 20px;
					}	
				}
			}
		}
		.mfp-figure figure,
		.mfp-content{
			position: static;
		}
		.filter_order_table th,
		.filter_order_table td {
		    padding: 16px 10px;
		}

		.table_img{
		    margin-left: 20px;
		}
		.popup_sleb_photo{
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    text-align: center;
		  }
		  .mfp-figure figure figcaption {
		      position: static;
		      padding-top: 34px;
		  }
		.mfp-bottom-bar {
		    padding-left: 20px;
		    padding-right: 20px;
		    padding-bottom: 32px;
		}
		.mfp-title {
		    position: relative;
		    padding-bottom: 80px;
		}
		.mfp-figure figure:after{
			display: none;
		}
	}/* <!-- max-width: #{$w1200 - 1px} --> */


	@media only screen and (max-width:$w992 - 1px) {
		.header_top .container > .row > [class*="col"].hide_991,
		.tile_nav,
		.pagination_list li.hide_991,
		.hide_991{display: none;}
		.tel_link {margin-right: 0;}
		.logo > a, 
		.logo > span{
			font-size: 22px;
		}
		h1{
			&.mb55 {
			    margin-bottom: 30px;
			}
		}
		.menu-mob{
			margin-left: 8px;
			margin-right: -7px;
			min-width: 40px;	
			height: 40px;	
			display: inline-block;	
			background: url(../images/icons/menu-icon.svg) 50% 50% no-repeat;
			cursor: pointer;
		}
		.header_basket_box{
			margin-right: 24px;
		}
		.header_search{
		    width: 40px;
		    height: 40px;
		    margin-right: 24px;
			
			input{
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -16px;
				width: 0;
				visibility: hidden;
				opacity: 0;
				-webkit-transition: all ease 0.5s;
				     -o-transition: all ease 0.5s;
				        transition: all ease 0.5s;
			}
			&.active{
				input{
					width: 250px;
					visibility: visible;
					opacity: 1;
				}
			}
		}
		.header_center {
			.container > .row {
				-webkit-justify-content: space-between;
				        -webkit-box-pack: justify;
				        -ms-flex-pack: justify;
				        justify-content: space-between;
			    -webkit-flex-wrap: nowrap;
			    -ms-flex-wrap: nowrap;
			    flex-wrap: nowrap;
				&> [class*="col"]{
					-webkit-box-flex: 0;
					-webkit-flex: none;
					-ms-flex: none;
					flex: none;
				    max-width: none;
				    width: auto;
				}
			}
		}
		.header_bottom{
			padding: 0;
			height: 0;
		}
		.filter_aside,
		#primary_menu{
			position: fixed;
			top: 0;
			left: -300px;
			width: 100%;
			max-width: 300px;
			height: 100%;
			z-index: 99;
			padding: 70px 20px 70px;
			background-color: $white;
			-webkit-transition: all ease 0.5s;
			     -o-transition: all ease 0.5s;
			        transition: all ease 0.5s;
			
		}
		
		.showMenu #primary_menu,
		.showFilter .filter_aside{
			left: 0;
			/* -webkit-box-shadow: 0px 0px 20px -3px $default;*/
		 /*        	box-shadow: 0px 0px 20px -3px $default;	*/
		}
		
		.menu{
			display: block;
			height: 100%;
    		overflow: auto;
			&_item{
				&:not(:last-child){
					margin-bottom: 10px;
				}
			}
			&_link{
				margin-top: 0;
				padding: 5px 0;
				font-size: 16px;
			    line-height: 1.5;
			}
		}
		.close-mob{
			position: absolute;
			top: 25px;
			right: 20px;
			width: 40px;
		    height: 40px;
		    font-size: 0;
		    /* font-size: 40px;*/
		    /* line-height: 40px;*/
		    background: url(../images/icons/close2-icon.svg) 50% 50% no-repeat;
		    text-align: center;
		    cursor: pointer;
		    color: $black;
		}
		
		.about_material{
			display: block;
		}
		.about_material_img{
			margin-bottom: 21px;
			margin-right: 0;
		}
		.ticket_name{
			margin-bottom: 25px;
		}
		.first_screen{
			min-height: inherit;
			height: 400px !important;
			padding-bottom: 64px;
		}
		.first_sub_title{
			margin-bottom: 40px;
		}
		.subscribe_text{
			margin-right: 0;
			margin-bottom: 32px;
		}
		.subscribe_form {
			input{
				max-width: calc(100% - 184px);
			}
		}
		footer{
			padding-bottom: 32px;
		}

		.footer_lnk{
			margin-top: 27px;
			a:not(:last-child) {
			    margin-right: 54px;
			}
		}
		.subscribe_box {
		    margin-bottom: 37px;
		}
		.contact_info-box .map-box:before{
			width: 225px;
		}
		.sorting_box{
			&.view2{
				margin-bottom: 8px;
				padding-bottom: 32px;
				border-bottom: 1px solid $border;
			}
		}
		.sorting_box_item{
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        -webkit-box-orient: vertical;
			        -webkit-box-direction: normal;
			        flex-direction: column;
		    -webkit-align-items: flex-start;
		            -webkit-box-align: start;
		            -ms-flex-align: start;
		            align-items: flex-start;
		}
		.sorting_box_label{
			margin-bottom: 2px;
			margin-right: 0;
		}
		.breadcrumbs_container{
			margin-top: -1px;
		}
		.filter_aside{
			padding: 34px 0 0 48px;	
		}
		.filter_form {
			position: static;
			padding-right: 60px;
			padding-left: 40px;
    		/* padding-bottom: 106px;*/
    		margin-bottom: 106px;
			margin-left: -48px;
			margin-right: 0;
			border-right: none;
			overflow: auto;
			/* height: -webkit-calc(100% - 59px);*/
			/* height: calc(100% - 59px);*/
			height: calc(100% - 164px);
			input{
				font-size: 11px;
			}
		}
		.stub{
			position: absolute;
    		z-index: 60;
    		bottom: 0;
    		left: 0;
    		right: 0;
    		width: 100%;
    		height: auto !important;
    		padding-left: 40px;
    		padding-right: 60px;
    		background-color: $white;
    		border-top: 1px solid $border;
		}
		.form_row_btn{
    		position: static !important;
    		padding-bottom: 5px !important;
			width: 100% !important;
			border-top: none;
			margin-top: 0;
			&.sticked{
				&:before,
				&:after{
					display: none;
				}	
			}
		}
		.filter_mob_btn{
			span{
				position: relative;
				&:after{
					content: "";
					position: absolute;
					right: -8px;
					top: -6px;
					width: 8px;
					height: 8px;
					display: block;
					-webkit-border-radius: 50%;
					        border-radius: 50%;
					background-color: $soft_orange;
					opacity: 0;
					visibility: hidden;
				}
			}
			&.parameter{
				span{
					&:after{
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
		.form_reset_btn{
			right: -36px;
		}
		.sort_data_box {
		    padding: 5.5px 8px 5.5px 28px;
		    &:before{
		    	left: 10px;
		    }
		}
		.figure_box{
			width: 50%;
		}
		.about_brand_container{
			padding-bottom: 0;
		}
		.about_brand_box{
			margin-bottom: 40px;
		}
		.about_brand_img{
			position: static;
			max-width: 100%;
			img{
				width: 100%;
			}
		}
		.sort_data{
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        -webkit-box-orient: vertical;
			        -webkit-box-direction: normal;
			        flex-direction: column;
		}
		.sort_data_item{
			&:not(:last-child){
				margin-right: 0;
			}
		}
		.characteristic_list2 li {
			width: 33.3%;
			padding-right: 15px;
		}
		.filter_order_table th, 
		.filter_order_table td{
			font-size: 11px;
			padding: 16px 10px;
			&:first-child{
				padding-left: 20px;
				padding-right: 0;
			}
		}
		.table_img{
			margin-left: 15px;
			min-width: 30px;
			width: 30px;
			height: 30px;
		}
		.filter_order_table .w100 {
		    width: 65px;
		}
		.filter_order_table .w120{
			width: auto;
			white-space: nowrap;
		}
		.filter_order_price{
			margin-right: 24px;
		}
		
		.figure_container{
			margin-top: 0;
		}
		.mfp-arrow {
	    	margin-top: -130px;
	    }
	    .mfp-arrow:active{
	      margin-top: -130px; 
	    }
	    .ship_pay_col{
	    	padding-top: 30px;
	    	padding-bottom: 30px;
	    	padding-left: 20px;
	    	padding-right: 20px;
	    	&:last-child{
	    		padding-right: 20px;
	    	}
	    }
	}/* <!-- max-width: #{$w992 - 1px} --> */

	@media only screen and (max-width:$w768 - 1px) {
		.hide_767,
		.breadcrumbs_container,
		.header_top{display: none;}
		
		.header_center .container > .row > [class*="col"]:first-child{
			-webkit-flex-grow: 10;
			-moz-flex-grow: 10;
			-ms-flex-grow: 10;
			-o-flex-grow: 10;
			flex-grow: 10;
		}
		
		.header_basket_box{
			margin-right: 16px;
		}

		.header_search{
			margin-right: 0;
		}

		h1, .h1, .fz44{
			font-size: 40px;
		}
		.header_center{
			
			.tel_link {
				font-size: 0;
				line-height: 0;
				.icon_box{
					margin-right: 0;
				}
			}
		}
		#primary_menu{
			
			.login_box{
				position: absolute;
				bottom: 25px;
				left: 20px;
			}
			.login_link{
				font-size: 15px;	
			}
		}
		.copyright{
			margin-bottom: 27px;
		}
		.footer_lnk{
			a{
				margin-right: 0;
				&:not(:last-child) {
				    margin-right: 18px;
				}
			}
		}
		.contact_link_box{
			>*{
				&:not(:last-child){
					margin-bottom: 15px;
				}
			}
		}
		.contact_info {
		    padding: 27px 0;
		}
		.contact_info-box{
		    padding-top: 25px;
		    padding-bottom: 0;
		    min-height: inherit;
		    &:after{
		    	content: "";
		    	position: absolute;
		    	top: 0;
		    	bottom: 0;
		    	right: 0;
		    	z-index: -1;
		    	width: 160px;
		    	height: 100%;
		    	background: url(../images/skin.png) right 0 repeat;
		    }
		    .map-box{
				position: static;
				height: 320px;
				width: 100%;
				margin-top: 35px;
				&:before{
					display: none;
				}
			}
			h3{
				&.mb40{
					margin-bottom: 20px;
				}
			}
		}
		.sorting_box{
			position: relative;
			padding-top: 21px;
			padding-bottom: 32px;
			margin-top: 56px;
			border-top: 1px solid $border;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        -webkit-box-orient: vertical;
			        -webkit-box-direction: normal;
			        flex-direction: column;
			&.view2{
				border-bottom: 1px solid $border;
				margin-bottom: 31px;
				padding-bottom: 32px;
			}
		}
		.sorting_box_item{
			&:not(:last-child){
				margin-bottom: 21px;
				margin-right: 0;
			}
		}
		.filter_mob_btn{
			position: absolute;
			top: -57px;
			margin-right: 0;
			padding-right: 0;
			&:after{
				border-right: none;
			}
		}
		.filter_pagination{
			padding-bottom: 120px;
			.row{
				display: block;
				&:after {
				    content: "";
				    display: block;
				    height: 0;
				    clear: both;
				    visibility: hidden;
				}
			}
            .col{
            	-webkit-flex-basis: 100%;
            	        -ms-flex-preferred-size: 100%;
            	        flex-basis: 100%;
		        & + .pagination_btn {
				    padding-right: 15px;
				    float: right;
				    margin-top: -40px;
				}
            }
        }
        .pagination_box{
        	display: block;
        	margin-right: 0;
        	margin-bottom: 24px;
        }
        .filter_order_forms{
        	margin-bottom: 57px;
        }
        .table_title{
        	margin-bottom: 20px;
        }
        .filter_table_wrap{
        	overflow: auto;
        	&.mb70{
        		margin-bottom: 49px;
        	}
        	&.mb50{
        		margin-bottom: 40px;
        	}
        }
        .filter_order_table{
        	min-width: 690px;
        	tr{
        		position: relative;
        	}
        	th,
        	td{
        		margin-top: 1px;
        		&:first-child{
        			min-width: 94px;
        			padding-right: 10px;
        			background-color: $white;
        		}
        	}
        	th{
        		height: 56px;
        	}
        }
        .filter_order_footer {
        	padding: 14px 0 24px;
        	.container{
	        	-webkit-flex-wrap: wrap;
	        	    -ms-flex-wrap: wrap;
	        	        flex-wrap: wrap;	
	        }
        }
        .filter_order_price{
        	margin-right: 0;
        }
        .filter_order_btns{
        	width: 100%;
        	margin-top: 20px;
        	display: -webkit-box;
        	display: -webkit-flex;
        	display: -ms-flexbox;
        	display: flex;
        	-webkit-justify-content: space-between;
        	        -webkit-box-pack: justify;
        	        -ms-flex-pack: justify;
        	        justify-content: space-between;
        	a:not(:last-child){
        		margin-right: 8px;
        	}
        	.btn-l {padding: 11.5px 10px;}
        }
        .mfp-bottom-bar {
		    padding-left: 16px;
		    padding-right: 16px;
		    padding-bottom: 20px;
		}
		.mfp-title{
			display: block;
		}
		.popup_sleb_descr{
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-justify-content: space-between;
			        -webkit-box-pack: justify;
			        -ms-flex-pack: justify;
			        justify-content: space-between;
			margin-right: 0;
			margin-bottom: 15px;
		}
		.popup_sleb_price-btn{
			-webkit-justify-content: space-between;
			        -webkit-box-pack: justify;
			        -ms-flex-pack: justify;
			        justify-content: space-between;
		}
		button.mfp-close {
		    top: 16px;
		    right: 16px !important;
	    }
	    .mfp-arrow {
		    margin-top: -100px;
		}
		.mfp-arrow:active{
		  margin-top: -100px; 
		}
	    .mfp-counter{
	    	position: absolute;
		    top: auto;
		    bottom: 100%;
		    left: 0;
		    right: 0;
		    display: block;
		    text-align: center;
		    padding-bottom: 20px;
		    font-size: 11px;
		   	line-height: 1.2;
		   	color: $white;
	    }
	    .mfp-figure{
	    	text-align: right;
	    }
	    button.mfp-close{
	    	position: static;
	    	display: inline-block;
	    	margin-bottom: 50px;
	    	margin-right: 16px;
	    }
	    .ship_pay_wrap{
	    	display: block;
	    }
	    .ship_pay_col{
	    	width: 100%;
	    	&:not(:last-child){
	    		border-right: none;
	    	}
	    	&:last-child{
	    		padding-top: 0;
	    	}
	    }
	    .ship_pay_col .sorting_box{margin-top: 0;}
	}/* <!-- max-width: #{$w768 - 1px} --> */
	

	@media only screen and (max-width:$w576 - 1px) {

		.logo{
			max-width: 90px;
		}

		.indent2{
			padding-top: 32px;
		}
		.hide_575,
		.tile_bg_abs,
		footer .page_nav{display: none;}
		h1, .h1, .fz44{
			font-size: 34px;
		}
		.tile_sub_box{
			&.view3{
				width: 100%;
			}
		}
		.first_screen{
			height: auto !important;
			padding-top: 45px;
			padding-bottom: 40px;
		}
		.first_screen_img{
			width: 100% !important;
		}
		.first_screen_text{
			padding: 0 9px;
		}
		.negative_indent{
			margin-left: -15px;
			margin-right: -15px;
		}
		.tile_slider{
			margin-bottom: 1px;
		}
		.subscribe_box{
			width: auto;
			margin-left: 0;
			margin-right: 0;
			padding: 40px 0;
		}
		footer{
			padding-bottom: 40px;
		}
		.footer_lnk{
			margin-top: 0;
		}
		.about_brand_box{
			margin-bottom: 30px;
		}
		.dummy{
			height: 112px;
		}
		.filter_order{
			padding-top: 23px;
		}
		.filter_order_forms {
			display: none;
			margin-bottom: 33px;
			padding-bottom: 32px;
			border-bottom: 1px solid $border;
			
			.filter_order_wrapp{
				> [class*="col"]:nth-last-child(2){
					margin-bottom: 20px;
				}
			}

			.form_reset_btn{
				position: static;
				margin-top: 0;
				margin-left: 5px;
			}
			.form_input,
			.form_select{
				margin-left: 0;
			}
		}
		.parametr-btn{
			position: relative;
			margin-bottom: 25px;
			font-size: 18px;
			font-weight: 600;
			color: $black;
			cursor: pointer;
			&:after{
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				width: 10px;
				height: 10px;
				margin-top: -5px;
				background: url(../images/icons/arr-down-black-icon.svg) 50% 50% no-repeat;
			}
		}
	}/* <!-- max-width: #{$w576 - 1px} --> */


	@media only screen and (max-width:$w480 - 1px) {
		.hide_479{display: none;}
		.logo > a, 
		.logo > span{
			font-size: 17px;
		}
		.header_center{
			.container > .row{
				margin-left: 0;
				margin-right: 0;
				> [class*="col"]{
					padding-left: 0;
					padding-right: 0;
					&:first-child{
						-webkit-flex-grow: 1;
						        -webkit-box-flex: 1;
						        -ms-flex-positive: 1;
						        flex-grow: 1;
					}
					&:not(:last-child){
						margin-right: 16px;
					}
				}
			}
		}
		.first_screen_text{
			[class*="btn-"]{
				text-align: left;
			}
			.btn-l,
			.btn-icon-right span{
				width: 100%;	
			}
		}
		
		.tile_sub_box{
			min-height: 224px;
			&.view3{
				min-height: 304px;
			}
		}
		.tile_sub_box,
		.tile_sub_wrap{
			width: 100%;
		}
		.subscribe_form{
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        -webkit-box-orient: vertical;
			        -webkit-box-direction: normal;
			        flex-direction: column;
		    input{
		    	margin-right: 0;
		    	margin-bottom: 16px;	
		    	max-width: 100%;
		    }
		    button{
		    	width: 100%;
		    }
		}
		.subscribe_text{
			margin-bottom: 24px;
			.icon_box{
				margin-right: 16px;
			}
		}
		.filter_aside,
		#primary_menu{
			max-width: 100%;
			left: -100%;
		}
		.filter_form,
		.stub{
			padding-left: 24px;
			padding-right: 24px;
		}
		.form_reset_btn{
			position: static;
			margin-top: 0;
			margin-right: 35px;
			
			.form_input.view2 &{
				margin-right: 0;
				margin-left: 5px;
			}
		}
		.form_title{
			h5{
				-webkit-flex-grow: 1;
				        -webkit-box-flex: 1;
				        -ms-flex-positive: 1;
				        flex-grow: 1;
			}
		}
		.form_numb{
			margin-right: 14px;
		}
		.form_row_btn{
			padding-top: 32px;
			padding-bottom: 17px !important;
		}
		.filter_form {
		     height: calc(100% - 185px);
		     margin-bottom: 126px;
		}
		.figure_box{
			width: 100%;
			padding-right: 0;
			padding-bottom: 0;
			padding-top: 0;
			margin-bottom: 31px;
		}
		.sort_data{
			margin-bottom: 18px;
			.sorting_box + &{
				margin-top: -6px;
			}
		}
		.sort_data_item{
			margin: 3px 0;
		}
		.sort_data_box{
			padding: 5.5px 8px 5.5px 25px;
			margin: 3px 0;
			&:before{
				left: 8px;
			}
			&:not(:last-child) {
			    margin-right: 4px;
			}
			.check_color{
				margin-right: 4px;
			}
		}
		.characteristic_list2 li {
			width: 50%;
		}
		h1.mb45{
			margin-bottom: 20px;
		}
		.popup_sleb_photo a,
		.popup_sleb_photo a:not(:last-child){
		  margin-right: 0;
		  margin: 5px 10px;
		}
		.mfp-bottom-bar .btn-l {
		    font-size: 11px;
		    line-height: 12px;
		}
		.mfp-title{
			padding-bottom: 100px;
		}
		.popup_sleb_descr{
		  font-size: 12px;
		}
		.popup_sleb_price {
		    margin-right: 5px;
		    font-size: 15px;
		}
		.mfp-arrow{
			width: 60px;
			height: 60px;
			margin-top: -90px;
		}
		.mfp-arrow:active{
		  margin-top: -90px; 
		}
		.mfp-arrow-right{
			right: 10px;
		}
		.mfp-arrow-left{
			left: 10px;
		}
		.ship_pay_col:first-child{
			padding-bottom: 0;
		}
		.ship_pay_col.flex{
			display: block;
		}
		.form_row2{
			width: 100%;
		}
	}/* <!-- max-width: #{$w480 - 1px} --> */

 
/* <!-- maxw end 
	============================================ --> */



